@model X.PagedList.IPagedList<HoangLocRealEstate.ViewModels.RealEstateVM>

@{
}

<style>

    .paging {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        font-weight: bold;
        color: dodgerblue;
    }

        .paging li {
            margin: 0 5px;
            display: inline-block;
        }

        .paging a {
            text-decoration: none;
            padding: 8px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            color: #333;
        }

            .paging a:hover {
                background-color: #eee;
            }

        .paging .active a {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        .paging .disabled a {
            pointer-events: none;
            cursor: default;
            background-color: #eee;
            border-color: #ccc;
            color: #ccc;
        }

</style>

@foreach (var item in Model)
{
    <p>@item.Price - @item.Title</p>
}

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        LiElementClasses = new List<string> { "paging" },
    })
</div>

<img src="data:image/png;base64, /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCAMdBQADASIAAhEBAxEB/8QAHQAAAQUBAQEBAAAAAAAAAAAAAAECAwQFBgcICf/EAFgQAAIBAwMBBgQDBQQECgYGCwECAwAEEQUSITEGEyJBUWEUMnGRB4GhFSNCUrEzYsHRFiRykghDU4KUotLh8PEXJTRUc5NEVVZjdIOVssLTNTZFV2V1hP/EABwBAAIDAQEBAQAAAAAAAAAAAAADAQIEBQYHCP/EADsRAAICAQQBAgQDBgUDBQEBAAABAgMRBBIhMRMFQRQiUZEGMmEjUnGBodEVM0Kx8FOSwQckQ+HxYnL/2gAMAwEAAhEDEQA/APzQRxGuWzx6VoWWquhw+WjH8OKzSARg0hdkGxcY6+9dAvCcq3mJ1rS295AWiYlkOY1IxtHpWb8RMkwd0IjU5Y+9Y9tdNHINkrD863oJYb+1a07wIX6uetB0K71a+eGWtU1XSrxFja2Hg4H0rIkitLgdxHAIx827NWPgreCRopnQshyOKm+AOrqy2iGMxqMgU2MWi04yv7x/IxWhdhwPvUZRhxxVu4aWNsGHap8zVckdc1Eots5koODwFOjkZG9qSPDrk04xE/L0qYxaZCTbNLTZybhA0rMM9CK3JBA8oSWLduPBrnIFAu0kTOByPrXbadp8eprh7hY5QMxrj5jVLHt5Z6D02t2t1I59tKkaSZDMkKoNyktgkelZMqkPjIb3HNdLfWNx47S45li4YgY4rBdBCDuAAU4oreXlCdZp3Vwuio7tu3N06UtB4kC+VTmDfhh6UxySeDm7XLlFZssMAU0xgDcw+wq4YVPCjmnfCgxcjPNWJ8CK6wIY/F9asWzsnh96QRFRg9KfDEWbCdaq5JDaoeNmnBe9wQhj70E43NxW1BcNEgcMGU87M+dc5Ej7FBweRzWpHbyd2JBMF8sHms8ujs6aU8dFu5jt7o72CoCcFiegqnd2KxKCjKYzwrA5FQfEbHeErvwfl9RU1rIwye4YxtxtJyB9KhNJDZyjYueymN6TC3ReSDjPT702S2lBIubfPPryRVmaKGe2kmcLKEYAAcH61NaXUSLCpj254IPPFTuQhaeL7MZoWJCrE/P8RHh+9RO08DEIviH2rpZ7GZ2EEEivETyQKoXdm+HhUDKAYzVk8irtG8fKjDns47gG4U7GPLRnrmsue1dCGkXG7pit8WF4xFyYSdp9a0LXZOWgurJTvGAQMGrykmsHPei8y+bhnIqiKcgjPpRLyuB1revtEm37obbA9qzbnTZoTiRSrYzjNTGSRht0dtH5lwU4mfG1qfTXBhbD4zSxli2Hx+VMF55wREZxj1qxb3ctswMcpAx0xUexaayNnw9KCeuV2bVrq3xdqYJUAcHwPmi8gms+6msy5BjPe7Rnk+lYa+EhlYgj0rTstYuI90LIHDDB4/pQaK9Qmvn7LcNrcyEGaUqHBGT6VDP38TfBkloScFqjF7OyiCaTgDyGKvDUrOSz+AkhbxE4kDc59KB0ZQksmVOEB2xnioSCDg1fFgrtvSUsMdM1BLa7Xw0oU+hFBkdbRAVI8qfEpfwjg+9SpC27mpFhYtt6fSgFBsv6JNmWSN+Mmt7uXtImmeNu5kGGyOKwrBYkPesOWOfzrstOv4rizks5YPiTIMRxDjn1qlmccHoPTK4Shsmc5qEk0UEdtBFEI+uVXBrGmjDLk9a6G7hmXdDLHs7vgA9azJrNnUkDzq0W5LLM+qqcW0jOVN520piIbYoPrU4gZJQBVpIwnUc+9SYYwcnhlFIG+Zhx0pXt3z4RxVyFXdQpC+E+LjzqeS3faGVR9qnAxafJUSFWwwqwiZ8K0qWsoQMny5Aq1HabZgrSBcgHBqZSWDRVRPOWuCzawwhUU5y/TipZYFhkcS5CBRtOON3nT7WENtxlSgyFJ5qzIqXEEhkGQueKzTksnVjQsGfBAJZNkhAVQSuTWffMO8YFhxxweKtz7XiMQcq7dCDWPcF1BVtwK8HJ61MXhmK9/LgqXB/ebvKo9w27s8VJNHIWwf6VXlifZwaank5L7I5JSxyelQsQTkVIQCMVGwwcCpMrWCSOYgbWolUs2R0xTFGWpXcg4oIGVIny1HUifLQHubegOst3DayrnvGxg1s29lbxahM9zhYnYIiE/rXNafcNa6hBdoqsYn3BS20N7V0t/fjUbMSNZ9wyzLtw2d3tn1qkotvJ19HKEsp9+xlXdqLG+niHysQRUTqSfyrW1yESSwSW+WRog7N5qfQ1mSKwGUx6U2PYq6rxvjoj7padGoRvalXlN1DBtu5cVcQaFtLui2k+dWVVQm5v0rN054yXRycqeOa0keP5gSx6bQaW00dKnEo4ZKtv3rCbHIqS8nZ1j2n5OtSLKIISHAz06VnSTlVIPOSTUGnCrRM15tO0HluKxL9mjkYoPFU73AWUEHkHzpLle9jMoA561KWTHdJT6KLXEgIVqljfB3NVZ1fIZvUVMPl/KrpYMC4LDh45uOT7Vf0+62Sjdn7VU3p3oQfxHHNTxxd1KXk6eWKWbapJtNG9b3bRKRH0wRV7R1755BJ/F0rFgYkAZFb2liK3HerJ3vsvFZ7+j0uhanKOekZ+v2iafqUkMR/lP5GsnU13xdyM4xn710Gu2j38p1KKVckqhTHl61h3m9WjVwpJ4PFWpacTF6hCO+T9s8GA0Ww9Dn6UYPoa0bm225IAzUCICp3gZya0x6OA69jwRKm8ZIOKNoSRCOinJq4IikJJAqkGUEhic5q6ZE1t7Ok0h4tQifdEMJwvNZ+q6WY5O7wW3cg+lQ6LqJsWCRgSIx8RrptavbYacLi3i71mG048jWO35XlnX08a9TVh+xx8lq8QCgDaDnrUEhEi4U9OOa0Ekn1EFI4tpI4OKzbuGS0crKeQBnHrWpNM5F1SX5OisIwMFasRnLD6UxRk4NPUBTkVIiPRPtQcimMpJyKdRQX2sVQSwArRtgQAD6VSVQGBFXEYqAR6UGilOPLJJUYncMYqrcI2OlXNxbgnrUjWbmPJFLTwzU6/JEwickLg561KHAFOuEVH8IqKmJ5Oa47XgmBx9qaSEBLetOXlMnrUNwxAoLS6KFw7SSVEQQcGpH/tKY/zUGH3I3+WoWUk5FTP8tMoFtNEafNVu34GarqoBFWkUKuB9aZHogcpAOTT961HRVi+5BUkPzUxQCcGpANpyKlJsNyJqKQnGPrUgQEedMbwXinJZRBsamOjbqtbFpjou6qNbuUTtZSkjLrgimRxFG9quyKNh46VXBz96qJ2sdtIIJ9alby+lNIzSk5oLxWBr/LUdKWJGDSUA1lClSBk0lTIneL71HImxtv50FNrK0jBAQarnkmrVwi5qqwAOBUNZRAAEnAqRVIHSkKkY2dc1ZiXCeLBP0qIrAEJUgZNRspJyKnceLb5UxgAcCrAQUUUUuXYESgngU7Y1OCBemaWoSyUSaYoBJwKmjg3Lk+tNRRgN74q0ihV4+tXisFyW3O3BKn7VZnbbgkE8DpTrSI87gMYPlT41DyEt5cVYulgWKFHUDnr6VHc3I7uSHPGMfnU/eCNckDArJuJRLIxU8H0oCbysEMkiuuBmo6fsWmsMHAqsuihBSFseR+1DHA4qQo0So0o4ZiDSyjWWNtoHlcdMetdJY2M7W7xx3Q7zGQHYLn2GayLfbDby4zhDjPniuslsb5+z8V1YpCXI3EmMFgg6kHyNDeDXpKt2dpmamk1tHDGIw7lgBtOQfcV3fYmKx+PtZLy/AziMxeZPofSuEtIXWWFZbvM1ww2I3O0e3pXc9k4hb6lGJrFYpo5c/E45OOgNZdTJeNnpPQ069VGbN7t7cWEd/Jp+nRAE8Bhzk+ledarBIbx4413M3kOoPoa63Wr/ue0U11cSQ223PdorZauRe+k1nWZBFc7JM/OR1rPooOME2dT1y+u++SfHzdGikgjshtmRSvBOa5/UrxZHUxs0iqeQRgZq1KlshcSzNcSghVlzxz5Yqhqc3dW2yKAFwckitpwdRc4Rx9DGnmbdIzZ3MeMelVlDl97CpHdj4uCfpUZdj6fag4U3l5G0x/mpDKVwTjGalijE8sar/F1oFt5fAwkMMCk2NUjw923tSVnGEZUgZpoMivlZCq+lSv8tR0EYLJCPy5Gamju5oBvSbbjyqptHqfvQY2YYBOKbGTZeMpR6ZpG83czANnjFMkCZSaBQADzVNfEcEn71ag8ad0DzkmrjYTcn8w1lBZYz1Jp5jO7YvkKRUYXCLJ1zUzDE5AoGpJiw93EwBznFbOk6jLHOGiBY4xgc1izJ4/D1piSzWz7o5GVseVJsW54Zq0+oennlPB3ep6WGWG4jvO9eYeNScc1zl1sgmMEsYOADnNT2GqSK6xsjsSeMnNR6ogkdndSpPvVY/J0dPVXQvgpRM+eFeAhBQEfWliTxDb0x51HCRGNpJK+5zUveYdCmMMcGpby8nKjFMsG0Z5AFH9qCX5qSK1Lo6EAJGSOatWjpAvxRUum4BvYGtK9sI4EuH3EwyHdEQeeR51Ls29nSroVkcnPd3GJm3RM4UEdODUiLEkYkS1P7tiTx5V0OgaG2oWxKzxhUOAxX+tdBbdjmjSQHUrZuUH9n5Gs1upjHs6Om9B1GqSlBHFwom3vwDsAxnFWoMCTJz3e0Nn61ta12afTHWAXMLRTgmPY2TXNw6l8FNJZ7BKqnBJFTGxWRyi9umfp8/FY+S5cWdrujuYnzJccuPepZrIxwMlwyCJgMEN502BoW53KT0AAxUwghmZIbuZliY+tVbaLxpjNZSM2GJoryGOJScKQD5HjyqlPFcxju3jwy+E/XNa9yklnctBE4lAOUIHIXzqYyo/dxmPDMed3JqYyWeTLLTb8pvBy7XWoQEPvc89AOtadprs64762IRuG9cVfe0sLw/DzStD3JyrIMk+xom0e3m2Pa3ZODtdXXxYHmKupL2FV6PUx5Uk1+rG3d5a7I/ho+GGWUetVobiD4qOWU7Np8I96WQwjetvEC0YIX6VCbNprI3Agl7yMliQm4YqdzJblnckaMuqSmTZHLgKecday9RtZ5Xa5WVpM/wAOOKSSW6LwqllsbG1zinqt2BLyV28gGrReRFsnd2mc9qGnXUUrCeEqF8z0P09aolNuABwRmuovzdXZttxLiPwkDzJ8zWdNpsgmkjKHvAAwTzwadGTZxLtNh5RjqzudpFKQQcGrEtsyf2ePqaiKFjkVcxNNcMif5aRPlqR48r4aYBtGDQQlglEhY4NAZkfIHFATHK1KNhj3DGQcUEipcOjq3uKszDkuMEHniqccTs2G9M1ftUxw3P1oNCe7hkVmCnJ6bTViMhsgepqNY3Rii9NpoiLK5Bx1oLJYHKGBBA+9aek6sbC43hELqMqSaogFyFAHJ9KahXeySqpIPXHOKhrI+q51zUjrrjU01ESSyuC68ELXNXBltn3R48R4yasaZPGJnikABY44FN1G2lQ7ifCpytCWDdbKVy3IjyD4mI3VNbON22qKeJgCT96twKI28JPTPJqTNVJ7jRgsO+gk7vBlxl8+f0ouEmitYXhTI3FXx7VbsYJDIJIif3SEN71fu7ZLuOJ7eQRsDl18vrSp9nZp06nHJkQaSZUVYhOELDBKY5q8NBkmijnt5bhZF53CM9K6izv49MtYXG3KcAscdfU0jduZbLa0b25CdE3Dn61is1Nk3iuPB26vSdDTH9vPD/gcnd2zR77iNWXuuuRzSwPE6KY8DeNx+tSat2pW7kn+HtYQtwPFtOSPp6Vg2c7W83iJC+QJyadBNrMuzj3aiiqzZU+DYuYt5FyoLFTk4HOKybyMTEyggg/etqO4WFDK/wDZjg/nVG+tlhuZWQYjLZUe1WUsiL6lbHKMBgF4cGoZ1BXKdKuXajftqq4/h8qYpNHFsrUJYKmwionPVvLpVg9D9KrHnI9zTjFLohp6sAMGhlAGRTKBY5PmqUKSMiok+ap0+WpSyBLCMyit/T3TdGHiEiqSSprEgUAhvPpWxphWOeNnJ2twattRt0be835LSAwNLB4tnJA64qpLaPcWrXECFkXqf8K3tO095LYqoiEdyMl0fJ+g+tZ9zZXUSNbwrdrFGTkd1tyP/HnSFY0+T0Go0rlBTisnO7YyhPP2p1moAkCkeI4HNTtZvIC0cbKMZ5bNQRQyjJQ+ZrSmnyjluLi8NYGPJFBhtoY+lSw30TzJJLAAVP6VXa1c+JyeOaq3UpOdmBgY4qJdCJWePg1pb+Mtw4J9qz9QvAVyD5VUMyAlgADjyqrNK03DHili7dU3EvW8u7Ck+9X85jABzWJAxVwAa2LflQpOatHsihuXLKcyNuoSIEZYc1ZuLcg5FNWPbHk9c1cmyKi8IIGDSACtPIKjHpWQSIsMPXFaduwaIEVRpIfR0W0Yq4I58q2bCVYlEanJJ3fesizTvYOevWrmnKqXBDFs/XjFZ7Fu4Z3NLJqaRtXMbQR70Xkj9K53UrebvInABDc8Gu2EI1DSmaMhSuOSPKsZ9O2qjbt5XzpNUmng62r0nlgpowmtY5H7hsZP2qg9qbW4aIDjrnyrYmtHZzJv2rg81VmmWeHuym1l4z5kVrhJ4OBZVHdgpygpGzN0A8qx5yHBx581sXgkWMqMYPHSssQE9fLinHM1UdssF/T7VLxTEr7dpy2eOPSu0ttOt7+1W0a4SId2FUE8Y9a4GzmaCYsp4fg1vnVzBErW/dbwMfvG/wAKzaiDlyjp+k31U58iF1jTX0rf3M5MkZHA5rAmga6jklumBO0EH3roP2gl1azNc83EikqD6Vz8pnuFWOKLO3rjjmrU7msyM+sdU55r6MqMPENvGamifx+LrRLGVfJpg4O4daecdva8ItwuAAvnVgQ7xk1Uj+cVeSRVUA0D4fM8MY7AyACp4/nH0FV1GXyetWIjlqDQlgsIMuK0Q47kCs5ThgRVyE5Iz6ClG+joybyHbwByOap9K19RibJ6Vj+LJ3etXj0c7URSeRVIByaJnXbSUjqCmTVjM5NlCVCTnimbGq20akedQHgmgzTWGR7SuSagYYYj86nBLHBprou78qtFZYqXRGnzVJSBQDxS1dLBQKKKKkCZSAcmpM5HFQKxJwamT5avHoCwoJYAedaEVqoT0qnagM4JrYdAbYHoeelEujdporBnTnC7fPNQGrE4BbBqBgAcCqp4JkssgPQ/Sqx6n61ZPQ/Sqx6n61BkbwhU+apKQKB0paATyM2fvfF0waRwA2B0p55O49aY/wA1BJZteh+lMk+c0sDFVyKSXgbvOgslkpzOCSKqMME1auFAORUBUE5NAgagy4rSQ5QVnR/OKvKxCgCgCOZ13VDIQy4FOm+amUARMpU4NJUknPiqOly7AXrUscIB3NSRxqw3HNWFVStWUcAPG0nwq2fpViBAy4IOc+lIgXd0FWoAoXIAzmrASW9uRFxjNE5ECZJBb25qZ5baG1cCXc4HFZDSuWyTnIzQMbwPmcvn0xVGRSWJqyXNQuME0CZSeRKjl5G2pKjlZFGT1qGslhkcPeOFYDFaUtmscY8S4xng0W1hFLD3iynvPJM1XlZmY2wY5Uc8+dRtRaMckcKR3coj+ZA43MOgFd20eqalDJJbQ4gt1ykznwhQB5etc9o1kXGLaFSZDjbjqa6xtO1JNMexlvjbHcJTGvAKjr+VJl0dX02px3NmPZ3VqzLdi3728B2g46IOhzXV6LodtFYQSX+oxxzNL321m5561zNta2cUgaWLdAcqWU48QHNdL+1ING7KrKLcSXN9II7YEZ2/99ZNRFyWDu+nba5ytn7IzO1d9bNql0qzPMrFFZtv9mwzx9K5eJ0tbsyoCX9hxitXtFeQLEtvsVbsjN1tGAH8qy4SYUiLxM4fqc0+viCS9jm66/zap2L65NK1jt7KxfUJbRpRKQAjHaF+h865vVb6S7YbI0iCk8oMVta3qZu40t4Dthg42gdTXNXLEZq6WTFq7d/5StMwDZzTN60GJ2OSTTGXacGqnLbbEILSZAra0WyAV7mYqO75AzzVTS7CS5Z5CBhP6Vanmil/c6buMyjBQnNBooSj87FvrBVkZUkYhSAQwxVWSzeJdzxkL6+VdnNpitLLG6AtIh+9UI7YmB4pQGEOc5FIjJZO3qPS3GWJI5aeDEmCp+uKiKFTgA119zpS3elrNb5LROqFNvj5zzisC4sZoZe7dCGABwy4NM3ow2aLx8+xRjTc2CDjFTRKFfAqR0VG4FMT+0q5l2Z7GtColBwcfSpTHskGBlWUbsVLGGKeMD7edSRwMD+8xt/WgZGGFwONsDEJBgqSOnWq88SMd4U4xjpVqNGtS/euAhBPi9fKraWUNxbrNHKu3q+arJZRoVbZnncFHdjK5ouIVCpKvVTzU0MbqzqACBwMipDE5TYQMZzRFYXJDrS/MRxI/fCZR8ozW4LM31qzsyA7QRlsc1nwBNh3kKCMZqWO4CIUW4AHTpS3Fo26eKivmZkybo7ghlYljkYFW0i3gDBJxV6O3SXxFecVE7G2kIMJZRVSjoUJbn0XNNtySvelQBz1rYhAAkijde7k65PNcvJqqqcRnH5VWbWbyMbgoJ9ceVQ1lYNkdZVpljbwekaZam0092i2qAPlzxXNXut3CM4aF2wTyJNv6VS0ztNfGDupOM/zDitARQ30TuXAYDOKRGjDyzsWeqS1FMY0PbwZc+p3V0O728HmqRhAO7BDVpm3ghfcky/Q1XvVDJll2mmR7ORfVZb+0teWJZXHyr/FnI+tXrnUbq5ZPiAMxfLg5rKCMjiQ8YqTvpM549elWabYuu+dcTSTU4YZQGdeOfEcCraazYTyhvASAB1rnbhoJGIaNfbFZoLQuSuB+VRsS6J/xOyp4xwdo1vAYEu9+5CwAK85HPSluLIWcyXAlMazAFeP61z9t2gvIrYWc0+6MfKrDp9Kuw6p8UQs9wFjQcu4yAPSqODZrjrtNPtcmnGbWOdZO4xuPiPv7Vs29haPBMLa7JeXoCMY+tczZaxbvI8DGNVPMZZc1taVfqXljlREXaAZAuOfaqNNHT0OoplFLC5GSRpPagBh3uPGCcc0kdq9xaiN0LkEjCcmi00vULvVnmFu62b5JYH08qs6VPPFOZ4ZkTuidysuS654A9DUF4Ri3mccJmcNLFzDOsdo4myGXj0NS6xpuJllkjaNzEYy5HnitSz1G2OoS3EsrIITu4OB9DVXUddtJ5o4VnUpnO6QbqtGc8hZpNJGrOTkbnTiiwTyOzEN3ZGOijoaJdHSWQXFvKVC8kNx9q6G6WymgljinEjuoCqBjBHQ1mrG0lluEbH4X+1KnFbI2ZXJwLdDWnmPRgalpi2U6wqPCyBwfY1SWFWOF5rsTc6bdLbHUhtdkEaAceH1PqaoarpFtZOZbW5SRDyABVlJM52o9PUI7o9HPGIKcDrT1Q7egpQu6Xuz85BxT1G0YJ3FPnUdasc/ZjhCPDtbvVGdoyKkCsQJ1B3Ec+uaUXCRkd4yg58xxVkywoO+QiQH+EetA+KwOQC8XCg7j0zVeW0lhYqyEc+dSmQSbZbeTYqsDn/CtBbtbpO5mTDZ645NAxQjLlmaInOG28Zpe7Dy5wegHSrkYjYugHCninmJFXeBzTS6oiQooVwyA5B8xV+fUWmgELRBseZNVJ2WOPdgdcVCs6lcmqS7Gxn4FtHiAZHFWo1i2Y3CokkEi9Bn2qpdL3Iyjv8Amahpovv2co1xqUECfOjL6Z86kh7SQbtkqpj2Oa5mMCVDvAOOeKYtvE8hJB9ODSpRbZX/ABK6L4PQLrWbfUrZYPCGHpWDc6VJExdY8qeeKo2ziMhhxWjNrlxtEIQHAB4FUVTr/Ib7Nb8at1/ZFHZRAYYHjmoZ1CybR0wKtRXsMjhJGCqR1AqS707cvfW7FgR196HnPIpwjKP7PkrWFy8SCJ1BXritMSwTLseJfvWaLN2DumdyEY9MedQxXF0r7QV49qEsl1NwW2Q7U7URqTGMKMDJ4rFIOTwevpWnctO3EkhKjnHvVHdmQqQMfSrbGczUyIZEI486qXKNt/KtGSFyNx61Xnt2ZcmmmKxPopbGoEYY4PWn4cctjFKMBtw60CGmiPY1OjBD04ckVJ3aqcjOcVaPYLstxQgkMAcfSr1vC0ssSxgcHz4qGxlQxdzIBk81p20IikWVs8cirN4OhRHe8o29Fu3sr63hupjsaRQeOD9K9G1zTtPl0xtXS5YT6Vd7Zox/xsRTH25ryq9v+9WI2jbHjU+IDnPlXq3Y6HT/AMRezC2wcS67YQbb6BSq99CP4sE9R61yPUMwirPZH0L8MTq1MZ6JrMn+XJwepw2VtNLNHOg74jZHn5V86xZUhaMojg5JNdlqXZ+ySCe61K3ntLiCQxqkgx4ff3rkptMlaRCkTbZfkKnArRptRG2Kwcb1bRW6Seya5+hmyHaCD1xWHfRtK0ZUfxHrXQajGsN33SE7dityecmsu+QcP5r0rWed1UWm0ZjKseXfG/pxzUJPJNIwxJ1NPWNnGRQclxeSZUO4fWtO0de8H0FUEGWANaVrEmQ3OcUyXRoo44LMw709Dj6VDLGiR5I/Sr8cffYKAY+lUro7t6nACkjiqppHRnVjllHbvIHvWiseFGPSqkMLHBNacMDNGCfpVnwhdUGpF7RIFkYwyEeBNx/PpUuobba5j7k5pmnkxBpEPidQpz6Ci7Jkmi3nqfKs2xnXztpWOzo+zt4JkSIuvyMCM+1WYyDFHYE7WhY5b2rnrKQ28kU1uAArjyrUnu2adpxgBuTgefnSrK5ZydzTaxKlKXZS1SBUJ3YrERcuUQeea2danbu1dsZYennVPTrUOY5ZQcOTnFaIdHI1EFO35fcgktgUGQcNyKy7u3VSQAa7G+tYIoY9jhuOlc7qMZBLIB+dTGayZ9Xp1HsxMH0P2pru0Y9quyIiNgDiq13GSm5cU5PJxpx2DZbkqe8Ujw81dt8bBcKRluufWsWViMqCcYrTMmy0RUJ34zz0qqTRNVjlyykSkjuecNyKrvHtJAFWAgByKXAPUCrCJPLI1YqcinCQOdj5qNztYKKkWI/OvpQVTyWYjhOanVlCZyMZqq3CYFN7xtu3PFA+FiisM00YNgjpV22dmICfrWZA7FQKv2rFCCPrS2sG2iSwSXsZYknpWDOoRifKuhl3SKc9awruFsmrR6I1ie1Mr0UqqWOBT+7A4PWrHPUGytIh281WY5arc5x4RVbuyeRQKs5WCOlCkjIpWicDI/pSAsowcVdJpiGsDJOPCaZUrAMcmk2LVxUuxgBJwKQgg4NSBQDkUFQTk0JZKS6GhGyKsRKWYEelRVZtFBGT60xLCCHPBoWdtnBGKv3BIi2R0y2h7pPai6cpGSMVVtNHXrrVcclCdgTxUDMFGTUsvzVEyhhg1MejNLlkTDIwKhdG3VPUb/NRLoQJRRTlUEZNVSyAwkAZNJvWh/lpFUEZNDTQE0KSBPDjP1pr53eLrU8AJUheuKhkDByG61aPRKWSpMMLt8xVcHNXZI1YZOarmAg+Hp71QU00EEeQA1WjtjUemKZCi7c06Y5WggqSMGORTacygDIptACMCRgUqI2KVQCcGngBalLJVvBIiLGvvUyZ+Xz60wKGOCfepokBf8qGmgjF5LKIgi3LEF96RXZzsxhR6+tTM8YjCAcZFEvc7AeRx5GoHJYK1yyjzquXULuPSiYktjNRnxDYOtAsUAk4FDg7dvnU1vAzsoKk5OOKml09zIe7bco/8YoJSyZwBHkenpRDCZZShU461dW2aQ4UD16VYt4gh2lRmglLbyxkht7Rvh2G924BNR20PeXHdSRlUY8Ac803vkW4eRozKUGBnk1No8r3V1uK7ERiSzc0DYSTcUdKtrLaWUfwy55DOp61p6VLNrcd1fXUIigt4TAgJ8TMPID15qhb6+1vHPFHZicMNuSMtz6HyNXruM6Pp0CXErRz478wZ6lv8eKx2QbeT0lUY1L5fcqx2/wdhFbxFpY1kMpXHRj1NJbv8PBdXDOJA3SOXkL7qPI+9SXV1HpvZ+4vZ51jmuiuyMjkDnOKw7WyvtSuO6DtHEoBLscgipjF4K32NNQj7mVOA7SzMCcjIxRHNK0CiMgge9PvUQTvawOSifNKDwfaoFl3sI7ZBGkYG5mGc004lkk5NL2Ids6gvJICemDVaZHbIJGT71blzOd24KPWoWhIOA+73oEtNsqMMjFEaKGy/wClTSRpGvnuz61FVW93CFtZLmmszzSxAskbcFVGc0+Itb6gm2GZQpxw2BirFhaxmwF48+ySMjCjzqqbmW/kecShBDwR6+9Uawa4rCOsTW3jEYNoileN2aijaD4/a92RDc8ynHStqXs4kE5jaG4kKNtZQn9KLjs7pV3YQra3Ld/MMuh8LIfSubC+MniJ7mfp2q2yVva+pzgujYvLJZ3kcrfL83GDU99q/wAfp6rPAjypwHDZ/KqI0cwieSCMMg5J8qrtb3sCBlsnCN4gCfWtfRwp3X1JwmuGUbu32ujwggsfIdRSXAEBXcmwMOvlmpDJc3DMkiCLZwoHWomLxq0V2dwf5QavGTZx5xUXhAu9I8Q4wPelhvn292wIAPpUIkMTbQdy/wA3lQ7CQcYAx5UwU5uJcdpXPdyzbh1x5ZqSAGE7hh424Zaz4LjeoDGrUFzGhwTnz5NBorvTWS9PEHdJo8Fcg0FmVSgI5JPWqq3TQfuuGjZh4sedJ38kkjICMg8Y9KBnmRcjx8Kc5x7VlpOVdiRjmtfTgtxvt3BVh/D54rPvrIxzOI84HrUNZLWwk4qxdFmxvHA27hmrUs0jod3KqMnHNYKtJC4jJ5rTsrlhlGwdw5quxEUX7ltkVHjjaQBeaJoihBwMYFbMkVqbdFSICUkEn2FUbmFTIiPkbuDj0o2Im6nC3MhjfACr82ath7gKGWMsPYZqmEdcMMfatGzu1jXbnp5VSSwy1H8cEIubhCD3Z6+lakF2LmBoZ48gjAq1E2lzqg70KWBJNStplp89rcF2P8OaW1t5R16tNP8APuyjOkjAJdfpVCa2XcXVePp51vCxaoJrFgdmOOtTF5It03ymJIcjYAcn2qpIjISSK2JrdUl+XjFQT24ZcgU7YjlW0vszoxnxEHAqW3KSM6SZAIwKuQ2gKkEeVRNYoSf3u32o2IUqmnk0NN0y0uv3crujEHaceflWhomnSK89tO7ozP3cT4+UnzrBR5beXeLksMdK0YNWWWI5uiskbBh9R0rPKp4Oto9RRXJSn7G9Z3KW95cadqmplbctwQcZ/On2VhNDqDvfQNFZOjLbSlwwfPTmqUtzpGrxzSBpYZ84AZMAj3qxDcQvaxQOiySR8RjnIPtzSnXI79d8J7fmylyv7F2Xs1c3USz2qqVUfvvFyvtWXrGgX0ccUiaYyqDgSE9RXRaHqdras82osyq4KywE/MT0xWhLc2GpWNxFBiWBCe7bJ6e1Znc4S5OnP0vSamndGWJfQ89tdPvJHVogoJOBzyfao76PXtLMkcQZGlPLeg967mXsnqjWcV9p6qVI7wMWwBis+80ftFcf6tc24bvlBjkBzz580+nUxfEjlXeh6iut/LL9MHBNJezDfIg3jnr5Upu43MffEpt6g11F32Xv0iDXFjGY4HA2B8tt9TWXqOh2Cx9xGyR3Y+eM8L9c1thOuT+V8nnbvT9Xp4ttY/ic/IyJI88PKMfCfeoplAHfRFTvHjxVw2syJhocJ6Hpmli0q7uI3ktYt4TllFNOTKqyXOCgzKwwaVXe35GGTrt96kubCWE7CenNVe9DHuSckVKWWZ5xlW8SLySP82Rj61JuJXvP4ulVoVKLlzx0/OrEayYyMdattRaLeCV5QG3jNJ8QfQ0wq2PF0qaBYT4X9asNhN5LE4zAuCDtGDWce8BO0cVqxrG2UBY8E9aiNpuJKDjNQ0mPsrbWUU4rh4wP1q0WiuYsISGz58VBNZtF0zUaqUOcnNS1kXiUeWPuICjnHJ9qhEauMkVdj/eL4uaYLZ+d36VXainjb5RFA4HgIOSMVsx6fFcCHu+So5ArLWzaM7uakWW6hbMUhU461Q10zVa+dGhLoMhbEcW5scYq3b2s8CqssZUgAYNQWuqzoQHl8XqK1I9Uhlwbg5bGM+1Kn2dah0NZi8MrSWTO2QB+dVLmxz1Q5roYZ7WbwkHPXipLxIkQEpzilxk8mq3Sprenk46a0JJ8NUWtTFKd48vKt6ceIMoG3OKpXsZEiFQPEADkU+LyjkX0ZGyWTm3DgDCjBqkLMt4gOtdRBaiXT5C45wTwaxhlI8kLkH0qxXUaVRw17mT8NxnFV57fcMheOlbUcSyME29fSq1xGELIQODVkkzHZQ0soxVifIqcKCBkHPsKsCFGTJGPpTu7VEyB5+dWSwYlVt5Yy1Dow6ZrftSXjCN0rCiOHFbNlOjLx5HFVl2btGvmwSlVjwf5ga1Oxevf6P8AaOPUF1NrTPhOEyG9j6VlzuhRZAfAvB+lQiaJBlmbYTkD/wAClWQVkHF+50qdRPR6iF9bw4vJ7x2ruE7V9mreTU7WD427l3WJjUqJE2YOB+VeT6fe6fpovG1XvvjYFMEEOcEv5DFW+x3beaymhttX1O5nt7VWWyiMXhiY9CP1qvrSWl5dNqcV8Q0UveSFkwc+tc3Q6Sen3VS/imev9X9Wp9VhDW1f5mMNf+TBntru1dVvyTM8e8Z64NZF9IrZAzWzrWoPfagbkHI7lRXO3MrMSTjrXWgty5PB62ajJwjyl7lAJvkBI4q/FCpQYGfYdarxjvG2gDpmt/4CCPQ3uQGEquuCG8jVtqMFNXlTb9jEAJyMHkY6VoWgOFXHIAFQoqk9BV7TgBco7Dwtwal9FqIbppI2bSNRD3ZByfaqVzAASD1BroLS0Ezd7jGeBjpmsnUIwszq3UHBpMHueGd62pxryZYBPSprcYbGKVbZmOYzx055qylm8OGl8+eKdLoxVVvdlli3GcD3p12rBozj5eTTbUgAE1aOyYYxk9KWbU8rAumszwHkYUjPNXmBeMhQfCOahsrD4ZSFJ2yHIyc1qW6RRqY3HzcnmkuTZ09PTKVZi3tyGhckkqowpAqLTbhty97kLirGoWJjJafKRt8qA4/OqDTESJGoCp8u4imQ6MluYWL9DXaa0QThplBZTgedY9wAwDMDnHHHlTl7qG7QnbOCcbsVYu0LElSpB9B09qFFLki2bnyzGJ2nB61FdRhk5pzOTIM1JIocAH0q6eDmuKlwzCu4BtIAPtS28n7oBuq8VduEDEqAKgtLYvcFB19KYc51yjPggY8hSMefNOdlZMAjNPvoJYjtbGR6cVRV93Qng4oEzzB4ZKRkDHqKsRuAgqGMblyakAAGBQCWCR/lpFYAYNK/y1HVkkySeJjGAPOr8EmSCw5xWf0q3asW5P0olFYNVU2ng2IYzJGXbrg9KxbqJVZgQftW/asFiOfMYrPv4MZbA5pTe3hHVuq31ZMjY1OHhGCD+VOALYAqcQHHQVc5ah9ChdKw8s8+VV8H+U/atGdFyc1VJ5PA+1BlshiXJXYZGBUZBBwasd3nhaY8YDYPWnCpRWCuEIpm0rkH1zUjEgZFMc+Dd50CJRWRr/LTVYAYNOf5aaqgjJoTwIl0PIzgD1FXrJCZAOBxnmqaAFwDWlaouPOrbmN08FJ5ZqtuEeF65qncsWUk9aunofpVK4+U/U1U68uI4K03zVHUkuN/5GoC5BNXj0YH2NHSo3+anscDioySetEuhDeBocGplGFqJI1LVMOBiiPQJ5I9jUbGqSipaySPjUhMkVFN/aflU+cKQKhPjJZuvShLBKbRC/y1HUkvB2+VR0spLoKY/wA1PpCoJyaChEwJGBTNjVJRUpZZVvCAAk4FSwo26kCgHIqSIjdV0sFO2SIm/BIOKtx90EAIP2owkcW/FTWEcEyvPNu8PACnAqjbZqjHPRXuJF37Ui2t1zSRrvXLSlTnoBmllImuiifKGxUqWu6YoSwA96giKlPmJUdM+Ej3pY4VRt44Na37PjVTt704/mTH61nTsBIUj6+9BM6nBZGmTCFhxnjmo4btoiWUjOakuAJMqeB14rNfwAkE9fWgWng0W1hkyBEuSMcGqHf3AJdZzuJz0qBSS+SfKpKAbbFTCptNamh94pKxDLMx3Dzx5VnxpE7gAn71t6VhJQUABwOR1oG0pOSf0NsTQaSyh4wggcSjnnvMHNY4vJbsvctIrS8sOeOfKpL826xSvJcTTFh/GuP1rFtZVZ1RTgjkAdDmlyisGy3UvKUTq7hf2u1suEe4CnwsMj60/UtUngshZtdIWiO0xAYApukBVe3muGjt0iBdpd/jOP4ceh/wrmNevxPfXEtmocNISrYqiWDbO1U071zIjvJUnuAojAHXIpryxwqrDOScDioIsJHvkPj6e1Swxid2kfOyMZXHrUnH3Nyz9SzHGdmGHB4qpcbwGijQnB6+VakkYktlKcK3X1rPYNnZAxyOOeaB+1GfsIOOM1LZktN3bKQPpVlrRc72zSpIqoXiUcEjkVCWBW1EF9I4dIlbAUc1XmaOXkja3SnXhlE37zG72FVnGV35OarLsibbZ9R2MXZKZbmz1abEkh3YVsMwHlXOXeldgmMi219KHjlUqyvnuceteZv2rnjnN+qu0qnJb0FSxdoGuLadoblY1vGWSTA8RI964EfT5QeYyPst34x0WrgqpaeLazy0dqumdkpb1rW2S4kO3aSjEI27ocevFUrzQNStdOnm0TTTdQxyskwcbiijH6Vi2+tXkczXum6kuLbAZCoJwPOrS9qr25ke4GpOjMAyL03t5jFaVXbCX5jmvXaHU1uFkFFv6cGEez4ug17EGtxLJsMTjL59c+lURZQWt/HaaipaJjhn610VxJd3znULpWE4TYHHAx9Kp3fZ3VNSgD20YmY+RkUH9TWrcjzGp0ajLfXHJRvtBihhRrRC0c2djEcHHWuXvIJrcuIUJBJDV1sNzqUUSWF5A0fwsrjb6Dzqcx9mZTvuYC0Q5lkDY2mrJ5MV2hjql8r2/wATitx/hB+1OjmY5Uda0L7ThZy7UBKN8rZrPeJ0kyuOgrQcSVM6n8xZSFbld6PtfqKRmurUhLhW2HoxqukqqwKkj8604LuGVe7uyXQjzoLx6LNhc/vU8eSDnd549KvX5S8UoMJn+Idaw5LSe2faGLKeUf396cNXRRslbxrwcUG6Goio7ZE81tHIqGPJwMEHrT7Wy3NgoftUBZnQ3EbERr1x6VAmpygHZL4cnHrQL3VxlmSOghiQ+F1bn2qa90iP93NEpOBk1gftWYcmSrtnrxVNkkpJyTVZLKN8NXp5LbJF9dJiMW4WzCT2HlVK4050UjuyB/e4NOftC48fe4+lPXtFbzDbcncfXzxVNjLSemmuHgpZeNwVHNXYtRlDYWUqAOmKguJLZjmLPtk1X7uTduBo2MRGyVb+Q34tRuFTK4z9ac1+0ifvM7s+Q8qxUu3i4kIz9KsC7jxk1GGma1qW1yx85BOBUJIZNopzSoxyaiMiKcD609LJlsmm8ksDFEEmDgGq0k7d4xweTmrIuEWE5AxVYzW7ksRz9anaxbe6PAx5mJ2AEk1DcLM3AA6etXbdrdhgAk49amS1jmbCAk/WqlVW7F8jMnv51QDJU5HI5rSsdV7phlnLepXFR3GnTwPsmh2+9QNAynC8UFIu6l5izok16HU5QbgmKRvPHB9qsW+vJp8xihiGM4cnz+lcjNA4bKHkdKRJJ5PBM+SPMdcUp6aL4aNsPV74rHv9Tt4e2OpJDNbm7ZeMw7TjafTPpSx9p76YRRm4laQ8yluR+R8646OBppQA7569fKlWWQytGkrBs7UwfSqPS1r/AEmlev6yXE5PB22maxZG3urWUzo0iEDec+Y5qTUr3s3qduBd6fLG0fhW5Q8sB6iuOecyQL3jYmBHK8ce9WLeZ5Ye7Yhxk+Dzo8Ea+Ua4eq2SqdTWc/U1ZLqSUn4i2gIUd1HtGDt8s1jJdHTLzek4RM5cela1tc21zunEMiqjBVQtzuHX8qdc3lm4e1vtLgCygYcJg/fNBnspcoqxNJr9CC8Wy1O4kjtFB735TWHedmbmGGSdVQiIhHw+SP06Vok2lmNkEvPkyHGKjN/l9hlYgqQ2T82fX1rQYdRCm3ma+b9OjFG6NunOKct3g7DnNW57dMkLnODVNrYnI561ePRzZRlW8R6LSzlhkUjO+d6/N9aZbqWXAqwttIwyKsSllZIlklU5Vtp9ad8TdqMpOc+9PMAwXGdlREcmgMzXTwDXc0o/eYz7UqSZXLdaiZQBmnJ8tBXyN8Mm37SCCKuWrxy4Zuo4rOVCSACfzNXra3YJuBNA6mUt3BcIg/iPFOFis3jjGQeKiFrKyZJPX1qRFnibKyEH08qUdCKT5a4Ivhe7bxAH6Uqv3LYAIHWphI2/cFDH0p9y1s8O5kZT/tUF1tXXBp2KwXA3FvFjz4q/FaiUbJBgeWa5OG7MZ4cjipv2hMo70XEhXpyaUq2zVVrq9uGjc/Y+VYImW2nism/t3VoI51I3HaMDPNRxa/cOCQzoTxnNUL26uN4kMzMV5GTTYwaQnU6qlxxFZOo1IPYxQxMTEs6k7j6+Qrm5knhRpZmDrv27SepNP1Ce81JYobi4OYo2ZfTjFSXOl3F9b2sUFyC42tzzyKlrAm6b1UtsF0OhEEQE5XMmclW9ar3UBlVrnu9isT19a1pNL+BSO1ndZJycyZ6p7VTkZ41aNsMAx4YZFQWnp2oJSXJjyQ7VyFPFO+HPcB3HXn8qtyNHFlZAM4xVd7sTnuQAMDHApieTmumKeCv3b+lT257seIU4HJHA+1SMi8ceVSTCOxliSeP4bu8nORVGSQgFV9SaGJA6moXdt1VUWi87G1yNknaL+yYrIeFPvVuzv42IhupDvA8RxVF1DkE+RzShVBLbQSfM0NNszwunU8J8F9IJ5WaSdPE3hTH8g6Z96qzQBZCrDB61Mt67ICZD4eBTVImfLMT71YvKW5YRTMHGFHJ4rYjdXtEgIODw3FQpANw3Dj/Gr8dkxX/KqS7GUQk84Mho+742nP0q7p0Essnd7QF9T0q02myOhmAGKj06Mx3BLO230zxmr9ja9N4ppyOs0aEmDvJgf3XijxzkisC6nu57qZpEwC5OD1+1b9pdTS6ZPtjMbIwIYVmWa/GSePhQcu586RGLhLk7mpSsjGuBHp1hM8jyTSZB5AzVm8tl7vCdKtyiOOfbArFVU7xnmq86zCEvINqkkj1xQpJ9C/EoRMZ2BFXtOjfI8B8ThR9TUKtBBGTMuUAznzqCwuZJLlD3rd0Zl2881dLJlg1Ca3e/seh6PpEN1E0szKERTsJPnVbuMzhZSAiMec8YrsOzU1ld2tvbtBH4Qd2BitHV/wBi6a3eS2cZBACgjjNcezVYt2Y5PqNXo1b0cb42LHvwcTqekXd3uljsohAOd8nTP0rkby1RbhdvdKEPO3gV1up3F/fzbmuZBn+DNM07QkNw8l/sWBYi7EjzrVG2UVhnmtXooaqxRpT/AInG22ltcXQTcqYyeTjNSaw3wbLC6hPCB16+9X+0WpwPcCKwthHsGGkAqgijUrHMn7wwscs3XH1rRFYW44t1MKc0ReWYALRt05xQzFjk1Yuotj48qrMADgGmJ5OJOLrb3CN0P0qkZu4uo388mrjnC1WkthIwfnK9KbuQiaclhEuooZXLsDnp0rGMZjJXHnmuultl2ibb4ZFJXNYF1bmLdKwGM1Ckm8CtTp20pMoRcDB61PHz4R1qLAXBHrirESrjdTW0zIlklA3DcOlNLqKlVAq7RnFQyqFbA9M1QttZInzVbt+tVYAG5NW4BhsCmS6NEItSTNiwHhGB5UzU4g8eD1qbSgCyg9DxRqow7DHA4pEuztOLlS2jH8CkEetTkb4xtqmGLYyfMVdi/sxVpdGGmKfysha3AU8VRmgDZXBrWyKhlhBG9RVU8FdRQmjGZSpwaSrNxBsOTmq7AA4FPTycucWuGV5lQNkdagf5qtTooJNVGOSasZprDEoHJ2+dPZQBkUIo+bzqU8CdrJEGWAFaFuCq5NZ6nDAitC3DuBjGKG8sfSsMuBg6kj0qszAMQfWpslVIHpVaQnBbzyaltNG6ya2kbuCS3OMGq+QSSPWpHOF/SowMVMejDN5YxmBHFNpB0parHsWnklJx1oIxSN5fUVJtBAJ9KYWinJ4QwnFAywyAftUqRqTUgVQMACoTTLJNMhfp+dRlgDg1I/T86jKgnJqSJdlYKfTFBUjyqyVB4xQqjdtwMUvaxW1lfY1IQQcGppgEPhqEkk5NSnt4ZVrA1hkYFN2NT6F5fb5VcXtYBhkcH7VbiRm8YHGMVEoTcNw860FXu1C4HIz0oL1xaeRNglIQ8gmt6x0N20GeazTMJBbJODk9f6Vj6cobbkZxk+/Suot9Tez7JFHt3QSblAz71nm3FZR19FTCUXOX0MXQNDm1DU49Pto90pyfbj3rau9JTTLkS3SkbTgpUnY+4FpcxXw3BlbJKHB+n0o7a6vHe3Kd2Cu08Z6n61nU5ynh9G+Gnoq0u9fmbyYGoa3b3NwwiXYBwVAqijWivl4i+ecgUjWDuslwigHGTUdqnhCuMknJrbHs485ubKd1KrucZ/OqWC0hQDnrVq5jKSe1MtwO+qJdmIVLdY0O1SDVdwVyTWncSKVVVAG4Ems2XklT0qCG8FiG3Mzqu7aCcEj0rWtZIrZe7LswQ4ziq1jEqDvGzwDStIkbMkaNIznIGfOg0VrCINUvZLk93HCFTIOc80mmRFZfTPNSPC7vhoSABnNRtdRwfL1FBV4Twy9fSsSoDgFVIJFY8jHcdzFj61NLK0p4bxGiOEIdx5Y+tBMrN7yNSBVbJFXogAu0frTYoe9fv5GEYA+U1aSJLj93bqXP8wNVl0Ooqlgi3LcRi0XLLD0xTSqxJtQENnoeK0FFvY2u2Nk72Tk8c4rIkkLuWLE/nSzQ141yVpo55f8AiziomtplGTGatqlyU3M5/KmTLNt/tGobwZ9rKFwplbvPOoOlWSCVO30qAL13dc0tvLFTTTN6GWaWOESQl9/gxjrk1JrMMkOoGa2h3KsgjITkg49KxbbVXXu9sjZhPX0NadtrUsURVI9+5gxcjJJHnSZRSXB1a7qprD4NYWdxaoJe4WKWUDfk/KD61KuhX+nSxB0aVLrxCQcjB96z5+14uou41K1YSlQpZPDkD1qZO0U1xbRwrcTBYuEUt0FL2OXJ1KdRo2+Zcm3Z2d/Fd9zNqarDEC6IzADeaXU9NvbO7VNshlLbiwGVIPTBqvf3Fhf6eiR6coMkZVn53BvIg0sFtqcOmtfJqG/4dlQRvJ8zN0Ape1rs6ynBR2wy/wBShe6neKrxvtMyPsck8isefUpUY5+vFb+pGPWIRdyQiC4wFd4hiOTHn9a5uTTpzIVkYMnqoxT64po4GslZJ57EGrmQ+Mncfam3XdzIGU9faqMljNAQwJ49TT0YjxE5I4xTjjztlLizsrMHQ9BmoZZGDc+lXri2kXY38w/WqsltIG8fXHl6UCJRnngt2eozBNkkhKjhePKkuSGGR51SQ7cIetXF2MgDk/lQDm32WdOuI2AtpWwXGDxxU72GxiqLwDxWU8csTiQY2qcjPrWja6zHj/WCGwfSgbVZF8WEsWmST/KF9eTinnS5oBxES3tTTqkS4MIbcPIVate0QWTFxExA9KDdXHTSWJPkqtalTgiomtwx6VrSXNpMpMQP3qjI0e80BZTCCzEpxySL4GU5qaO5lU7WXwf405ZElYDAzVqOzSU7VByalLLERcpPCGnaJvH0x+tWohEExyeaqToNwOT1q/ZWrTQswz4avhDq084kM7lGIXftz5im3NnJEchw64znPNSJEUO4k07JPU5qsex04b1gzzkDJB+1AOeauPEm3pUDxqDVzPKuUXhDfhljIZRzmrtvI1uRJjy8qgZJMDp1FW7WMMw388VRpJGiiLjJKJcikj1KIlmG6DwjPFZtxZyQsSqgr14rpLWyjg8bxKFY+HA6/WrNxZwzoAiAcdBSJ2qDwdyWgldUs9nGi2H8v6UjWyNGSVbrjpXSXGmx2yK4cNkc1S2IrEgU7czl2aJw+WRjjbCxIBzgjpRbpaNcLPIWAU4PFWbhbVuAxXjqTVPEKkhZCRnyNWS3csy7fHwaKn4e8SdcMB8wz8y+YqxBLam7dYbcR9+fCfQ+hrKWXaMKSfrSi5KnOcGltZHrURXDN79o3GlTBY/hrmN/nQJyD6j6VHusZpHWdmtjNyrSf+OlUFuonHeLxnw5FWrq/e5hjiJX92MDC/1quxGz4mMo4zwZuoWlzYnb3LAZwT5VnPI3zKpx9POtwOk0Z34VvRuTVZ4Byj4PnlRirnOury8wfBmQyuE5GKk3k8kH7VZksgfFyKRbbaMAferx6M0oSyVULIwYA/ar9reKhDNFuHqaT4MjkqPtSNAVOB0qwyMJQ4Q9miDHuiduD1FVWBZiRUohYeZ6Yo7lh/WgHCUuWV6cqM5woqVrV1bBPFSwxMg8IB+ooEqmTfJBHbgODitiwtgGCtjb7Gq9vDGTnJzjHWtjS9KacFu92sSRg+lBv0lE5SUImlY6cskVSSaRHIm7vHXnGNtacNuNPRRKjMcZIBqxFcJcDaY9pY4Qf51kdjSPXU+nwa2y7OYGnq14IVGIh8xPFQ3GnI1y0K8oPMHitzV7SS2uZrcYLnjeOgFYb6jFYr8Lb/6w7nDnzB9qZCW5ZZg1VVenk1NdHK3du8M8il2ZFICgioCXXgCty7hN0sZAG7GenlWVcwspJHUDFOSSPM6ina9y6ZWQMjBhitGyjEzP3mPCo2/WqTwtt/OrNkcRSxEnvGHhqRdXEi5rCNBPG6DJ7vP5GrvZzVYbbujc2pf962Wx5cU257yVLC7CBh3fcuMfY1la0k0JY20mFKgceRpbbZvnKems89Z0NvfJe3k121uHUyMwI6YNIkatctI0BYE8Hzqjp9zFp9nbwswXcMnPNblrqemS42yDd9KXKTTOjTZG1Zsly+TJvLMysWZTnFZD2hgYjGGPI9K6a51WFeSq/asa8u4ruWHYoBBPQU2PZm1tdMXiBnzQCMdOc1CS68AVpTQtuwaqXEJTxngYq5zWsMYdsg2n61A4AbC9KlmGz5agoFz6CheH3HpRTlQsMirpZEtJilwcAAnJ9K0oLUIoTHXxVTs0IlRmGcnFb9pbtPORjwjjpS28GrT0SmyrZQKGBcHA9BXRW3dtbgyR70yRtNMj0xducefrV3T7CWZ3jXw7QCGPSkTm8noNJpZQ+XblsfDCptxEAdkgx0rj7+RbO5kjXIKHHSvULDTDNbKygERfM3lXFdtuzMli/wC0Fk3xzckjp9KpXYt3A71X066GnVsV0c3b6tLJiINJHGT4gWyMVv298rr3duAAijrXKxWchI2nwD71p28vw2drckYOa1uKPPabUzj/AJh01rLFaRue8UNIQTzxUc0tuqtc794HVRXPRSrLHudmz9aswmPuim5trHnmkKKR0lq1PhEuqJDKkEtqwxKcFBUlhZbWzGAz+gNOs7TqQoyqkjNUrV7qS/7uKQruY5x1pseimNtim45ye4/hwkFqY53QSSYOUz58c1P2/wBPa9IupwLUbsq2cjNcNpd41hb/ALJt3a7uRw7ocd2a7Psho93dpJNfXbSmEnaGOQD6EGuDqadl0rD636XrVrtDH09w5+v0OasOz82kXUV9qEpZHbKg+fHWq+ral8NC6i3G1iQD710nbqdLO9FxezxXM+w7e7fhfovpXlV1O+qXwklGVLFdpJ8q1aZO9KTPPes2L0ub0lb56yVb22llkMxyocjBHXFaOhwC3t3G/csjEMT1rRnhjaFNrI3h6AVnxloQQeF3E8Vry8YPMLTuu12P3IL60j3E+g8qw3VgxBFdFfGRQiwAMrDlyM1lTQOBuIGfpQpNGXVU7uUZZyBkg/apLdFkboc1NPF3fBAxTYcI2/ypxzIQcXlmlad3PBHDK2JEGFX2rH1F2uppIJBxHwT/AJetb1vDHIGnCgEKRkday7yB5PFEBuDHHHWhcPJq1FblXwc7/Ft86s2yNuVcDxdOeKY8G2Vsk4UgCrcca7EOT4eRTThwqafI1YQh3AVFNEGfJHOKso5J5xTZUZ33D0oG7ERBUBBXrmrUanIbyxUAiIILdM1bUAKAKltsZHsu2sqhlKnoc0upMZGJHmKzVmMOCD545qw07SqCcdKq1k1K75NjKiqQatWqlxtPy5NVySAPqKs27FeB9aJdFKniRowwBo2x5cc1VuIiuQPWrS3EioIxtwPbmoJ97jcMfalm2xLaYtyje1VyMHBq/cwt+tVXhbd+VPj2cq6Kk8FR42x5etV5PCcmrknBIHTBqnLyxU9KYc2yPuRv8tR1I/y1HQZ28InQFiCPWtC2UqAxHFUICuBuNbMEeyIAj3oHadbnljW+U1Tn6H6mr0qhcgVRn6Gg02rnBWJA5NMYgnIoLEjBpKlNoxN5Y0MD0p1RKSKepyMmpj2Lj2THy+tXYbdmQEiqMJ7zaW9a3IVVLQOOuT1q5ppim8lFowhx50lPm+amUpPBZrCK8nHB61CyknIqSRiZMGkpieRMuwBCpg1G2GOQRSykhcj1qAsT51Incx7/AC1HUj/LUdLl2Q3kCcUA55pR1FP2KX2+RAq7eEBatIRBEJpcBmGBikcFpAEQuW6BRmm3ErkrHxgdMVPDGyFZYmO4dDVNzHbUuDdtoLDTdPPx6Frg/KGHlVuWa2bTklvpFSI9PM4+lZcurRyW2+7hSWRehK81RuLoXkA75fCR8vlVGlJYZ069RCqLOgivoZAHiYpHGcqrDHFc5qF5LNcSsuOWOPpUYlkmbDOQMZ8JxTJxt5B8vOiMVB5Rjt1LlHMCcalNHCYh0JohnIiaZeoOTVBnOPzFTLPHHAYudzdfpVk8GXyMq3LM8u9+uafCCzgDA4HWo3JflqGJCbh1obyJbaZPCvfSySnkIcL9KdIBNcRRxeX83FS6TA3cHIB3HJptupm1IKn8LEUD1HmOPcvSKtpAz7NyqM486j05nLHUgiqy/KAea1NWso40VxJu3dQKyrUqscqqTu9PLFBqtjslgrahPMcNLLksPlNZMkrF8gj71NduGlkBJJyOTVQQl3IBOPrQYZtyng1LOItHg+QzVuW3FrZtPJgB+BUul2TRwG7ujiHGBio7+WS/lQ7ALaEDC46/Wg2Qr2rkjtFeSMK52qT9x7Vq9/JDGEtQEI6NnmqjRFRG2MBuoH/F+1TqUVQGJz9arLo008PBDNFlcOPFnyqvIuxNoU/arlwwJ3Q4xnz5qrPdSY2RQhj644pZaxZ4ZXmfAwvXNMRHk54z9aae8LBXxuJ8hWtaaRKe7dvlckHmqWS2rLK1VO6WImRLaXETL3Ee4MOMU1dIumPiDKTzgDiu3Giw2dg11dXCpsXETHo9ZamVnWRsohUeI9DSPJno6EvTfF/mM4ABgQQKtxSPs5I+9RuAB0FMyfI1MYtHnI9lks7+Eg80+JZLRx3gGGORg5qKO5DOOB69KuTTLMyJFjxjBz/hTBsXguWGqyQFd0xZAckYq/J2gjZWVo5WVz4iG28fSseOxAyAXwAT1qPZAyyAzFdvQE0HRhq7IR2xNldQhh7ySGaSRZf+KZ8hfpUjX9lN3c62oR4R8vv61y6xBBhGZfcHmpYXkhckyMysMHccmgheo2Lg2m7uZe7Ldaz2jEYZYhlgx4qv8WySK0WWUHp51ciubZpO83bCRkq/NArcp8IVJrZ4UjuIm3j+MD9KfJa28oCsw3Y/Sk7iJi6CQOF4DLxSQWEmfnZjn5c80F4L225KdxYIz74uSPXiq4jlOcr04rok0i6dt0YGPell0qaMbpFX8hQTLSSx+UxoYz3Oxsc1HLYSY7zC7T781Z7p1v8AuJmVVBrXGnow2xTA49eaBUdK5PCRgRQk+JQB9aeYnUZIH5VvydnLiNUlc7Q4yDjiqr2DW3idg306UDFopQ5kjIBIIIBzVkMcDcDn6ValgiQ7onVl9POmFk/iAzQLa2vCIh1Bq7Zz7XwKq7FqWLZH4uc1ZvKJg2nlGxJZJdssscGC3AIqJ4JbIEKhBBrV7PazpsAf4lSzE5QZ4xWhqFxa3hd4EHCgj60qVji8HoI6WuypThNZOZiZpjhWXpnk0ODH8wP5VfurVI4VmgQK+M+1RK6NGocDJHNXM/j2rbIqRRF32keRPNP7sg7VxU4uIO82joQfOnGOKWP92Wzk+dBHjiyARspycVJEwV+am7oPHkdar4KsSTzS5STRKi85Nm0kkDS5kLe1SRzTK5ZBz71QsrpY3Lfzdc1qgCVMRDk0s7Gns3rCeMCytbOpZYlx71m3Ee2GRFTG7oBUrQO5yswYjnApqOWk5AOBjpV4dlLZSt5Zly6dOHP7o9KrnTLgE5hNbct6xY+LyJqu2oqGw7YP1ppz56WpcyMUWM0bcxMD70xrYscleelaUutRl8d3j/a5FV3vYZW34X8hTE8mGdVaWUyuYp2XKIfzqBzMnzKRV9J8Db3u0epprtGeCwfzzUiti+pVa4l37scUfEykcCm9JAvlUhiJwVHlQKTfsOW8aQ7cH1qaOTdwetUo4nDZHpVu3icnJqG0h0FKXDLhDhd6ikXc5wQc1ctoQ+F61eTS1kwyA7j78UqTUXhnRr02Vky1iVuQD9qUxMoyBxV9bRkA4GKkFtvTBXzqN6GfDyXRiupEmTTooRI+6rVxZspyaSGBg2BVjJ4n5OS5Z2pmUFUJGfSt23szasJWABx681Fp8TqyxqAAePer19H3aHxMWJwuTVXJLg9BpNNsh5DXHdak0cNs26U8EEYAHmac9tBo8M0cH7+brk8FT7etc9p+pS28ffMQj9AUGOvlV+01MTlrjUCIlXoAMMfcmkeKR16NdU47scia5Mv7LadziVxmMfzCuFs7Ge9kIEeSSSR7102oTTaxc71wsMQ/dIB0HnWf3hs5DtPdjqXHrToRcVhnD10/i7fJPpBqdilvYAWxYuRudyPIdRWLdwwzWqELtO3kV0Mt+Z1AUJgDA4rIl0+ZsyL4iT8gpieGY9ZCGcQ6MhrbCkkVXSMoxIU4rZEDSeEgfammyZDgAevNXzk5S0zfOCvC8sL+EDbgimXbv3eZBgn0q7HZybwOtLeWbkBcDoKquOTR4p7MGDMzuwUjzq3b2Cyx5jUmnX1lJA24gYzSWl48DYjbp5VZPJjjXie2ZYutEdGKmVgynGDUA094Ruc7h6+ddRbTQa48cIdEYHDORUmtaAdOiUidbhJDgFBjafekuaTwzp/4c7I+WHKMtYUkA4OG5GRUV5bAR4HSry7VULjhRgVFMne8D5alPJWVUduEYc8Kk4qH4f2rQuLYkjJI5qeO3OweEfanN4MSpcuGZS2sjEAgetTPEqxYIOR7VoLa4TftGagKPvLYHpjFV3IiVG14Y2GGJIgADn0xW9oUG3ehjbLdPDxVCytjvWeQe2PKu/0K2gubOSWOMbo+lLteeTs+maJzm23whtlaI5hBdBztGWxyelad9Z/DwSRcRy44J8/pWBLDeLLAkKli5yyjrH710dkitZXFpeXQmuJxsSRh/ZAdKyy7PW6RqbcduGvcptr5s7aPs9aWiySSsFaYdYx7+lVu2iRT6RDpkNxG+zmWRWyS46Vj69rU3Z+aWO2RO/ndo3Y8Er581j6OJbuYxRLIzSSKAkXiG9vMn8qbGhL5jmaz1Zty0mMt/wBDJjYSd5w37vhsjoaryL4vCDgjPSumbS4zcSWVtIpktwTO3kzDpWHMvdSv8Sm0g1thPK5PK26d6fh9FC1IWEsxCgetXoCrRblOQSTUMkURXDjgmrUSRCIBBgAY4qGtqyxUE2+CzNPPawbkxiX5ua2dCn+HZDFaBw65d24/Ks57C4u41SNc92wDYrqdJWz0+xeW+kU7Fwgxxn39aTOSXJ3vTtO5T8k3hJG52cuIFS6EttBYIn9vJKfEfcDz+tJqnayCHTpbbs/bYtXYLJcE53seuP0rmGvbbtFcj40+GDrF0AHpTdY1RZoI7G1jWG2icN8vp0rHOmNj3SPSP1ecNPsq49skMjQyuFy5ZvCMvuFNFgkEpAVt/XAFXbYWsRG6NWYHh/KrFx4MzDG8+Z9PStEZJLBzI6d2LdY8sz5pUhuBCc461RuYZZDJFsYg+PI6YP8A5VbdRPN358h5VLHcI8bKGIBODiqxeBE47/lfsZSTo1siAMCo5yKiLCRtvlVi4iSPJXI4xVeGMsxI9avvRlk2niRG9shX94CB9POqzW4ZSB6mta8YLbs2BxzWQl0mdrHqM1cy6nZBksUhtyu0eHPNTxWdtdXRjB+bxc+9VplCxow6t1qNJjA/e7j0xVJRbfBWu2MXia4K1/YNBeTJ3TgDjJXg/nWe0LAkBa9KurJdR7O2F8i5eZcv6E1xc9i0LMHHizUVX5+VlPUPTbNM1JdNZMpWDD0+tSrgJnr9KimtjuwCR9Kfbp3Z2kk+fNaks8nMXy8MkppYA4NSMoAyKjMbMcjpQ00VaaEJ3cCnIh29BSCMqcmpU+WoLR6GMhx+YrQ0xojvRidxGBxVMqW4FW9Ptjv7xicdODUS6H082Iu3KrkFVbxcjiqsgI8WOK2ysLJsAztHWs2aLCkLyM+dLOnfWm9zMyZS/IqpLErLk/StB4ipIPTFVJQApA9TVo9nMtg4rky5fmP0NU5PnNW5jgkj0NU2JLEn1p8ejj39EJUgZoRTu3eVSEAjBoRGLbV6UyPZzmslu2jLgHyrYhAEYArPsY1KDrV7escdS4ts6WnW1ckU7AkgVm3XU1fmdcnb1waz7gkgk1RLIXyWSJ/lqB/mqd/lqB/mqdrOe1hiKQDk1ICCMioqmhUNwask0wSyy3a224gKK2kAittpz1NU9PRkTBwR+tWriQ9z5VWXZ1KYNcmfN89QScHd5U+V23VGxLDBqY9iLueSGiiirmcRlDDBqMqFOBUjEgZFRkknJoFCSDC9RUYUkcUZPqaeny0AOwD18uaBlvLpxTyoAJ9qdbgd2TgfMaruQJZIsFpVI6ZrQkdTEOfLFZzcPtHSleeQDYCMVVvLLp7eGTOw7qNPNcZpJZCqAD0qPcSQDjqKW9/9mHl71BDeULayNJK6fyg5p0pCqQfWobLhGIPLck05zuyDQDaccCUUjEgZFIpJGTTG8FG8EkccZbA9KbcQKzJgjwnJyaktgXO70GT9POmSFZJuCdpHHNUbyy21s07WAJbhB8mefpUFqkaagvpuOPpWpB3S6a7J1HrWRAStzGw8zk5qkujoOKrcDpdciQwx8jqDXMahOYCRB84GeelbOt3yIwt5JRvHRPOucujJJlyRRHoNXYpSwihsdwHCMXY+ICtC1s40YGTkY+U02INawGWUBX+Xb58/+VMiuCAWdyTk+flVjBFNPJqTzCUxwJ0j6A9a1LLTJdokKgyDlcHisXRov38skkmT6tzitwXrRrugLSY4wvFUabZ1dP8AtFumTvY21tJJJclS7+LZ/L9PWqDXunkkbAMcciquqXrGMSu5LEZJrMgQzAOwBzz0qhe66MXiCN2N47iPcmVX+XHFU7mJtxMaHPqRxVq1Xu4Cu0sw64PlWhPPYRWC4cNKeStVcnHhGmFUbUnPszbOxuFmieZAMnJ58q3zqDadpQsQitkHPPlXPSanuwzyMNoIGDioo7qW4fa77h5etKksoZp7oUR2wRfub0zQIbi43rHgIo521Uvbt57Hve9JUMUCfTzqhNKDIUUAcE8VWM2AUZjjOcVTYxFuqczMoooXl9vlTThNbeUMEQUgiplkMbBl64plPVQRk0ExeSZL19weRAT0Iq0rWtyuVi2t0LedZlSwOynANSlljozbeCS7t1gxtmLhunFQqwAwa0HtFmtTIjMdgyMmsyhrBFkVF8E1NLuvCjinU5Y5GGUC49xUtJC4pp/KOgupcAY5JxV2LVZoSdkOWHBNVI3S3kCsBxVlZIXc+JVzyQRVTVVKcV2X17RyOCyqq45680Sa5dOvh5yM1CsVnLJviCEDyAqxDZWshJedY85O3FBujK6x43FSa+uXO6SFQfVTmmx3rKcmDd7mtWPT7Xutpm4yOtOfRYXXMEwz780ErT2p5yUxqLZ8IOabJfd8dkkO4+tSPpLxt4ZQ2PLFEdoA+MZ486CVvfDKPdSA7Qdpx1pBCW5clj6kVqGzDnIdWPoKX4XyZRn6UFHp2+TKMYjwwU9fSpu6WQbiR0xzVqSAqcADH0qCSF0GQTUpZFOpx5NDTLN51C94if8AO86tCG9hnIWbIHHBzzWRHK0ZUhiADVqO5bvd3eNyOmeKJJZN1VlMEtvBqTs8m2W3wOMOn+NVjGkjZ3KT9ajO87JImIDDmgQt3nHGQOlQaXNWPlFlrXcmQBSJC0bcgYqxF3hXD4x9KdJA6tg+YzS5SaY7xRXQ2JGC7abIqsMEHP0qWMPGAp6e/WrKQ982SB0HlSzQqfLHCM1ImjUBRzmtDTpm74JJ8oqY2cQ6yrycdKU2Co2Q5PHUcUFqtJOM+CS4jQYYpuGcVWu4FjTvVUAnyFbUdskVsTKCT71nSwq6kqTjPmalPBqtqkomW0aSNvJ5xiomsldeSuc+tWLmFox4D51Ufvs8NVt7OZZlvEhG0piPlAx6mqctkiMNwIzx0rSMsgIJkJGfOta2ubOeF7WaBMlcq5HnTHJx5RWOlqu+WLwzkFiYHxqcVIIlPlWtf2EkCMVAwBnms8BWAJ645xUxm2jJZp/FLa+yjNE7eIDgGnRthANrccdK0Rbsy5AGfpUclsUGdoz9KtuZn+HceUVicUscxRs7Tj6U8KtOWHcMhR9qhvJMYSTyjXsnjkAOePeta3SM45FYFmp3DaTnH5Vq20kicufDS7OeTtaWzbyzRkjRVz7ioZQJn7qIEnA6jAqwGLR+ID0pImSHgDJznJpR02oz5Rm3dmQoTAyCDRDFDIcOSAB6VosY5V2Y5I4PofU1nmNkchuo4yOh96bGTZitoSlmJuQNBAmFbxHgVp3tv8ZbxSOpxCAa5+2UFgzc/WtMzTGAxLK2ZOF5qs+zo1WR8bRhXc3cHbHk/lUKX0twvcS4AqW/QLcPDH4wpGGPNZ8m6OXPQ4ppxLJOEuDUVljYM/ApL/uL9diEtgYxirMNq19aLMEBDcnjzqM2E8YJjCqfUCg0OLlHHsyotrJbjbsOKkgDd9gDJx0861BbSvh5CT5e1Pls4kjD4If1BpW9ja9I+10Z13pQjvGntEYLKcMo6UfARSNjDEjg8Vpab3wCeMsAcndzxXSJobyRi7jtyEfnfnjNJtu2HS0npvxT+RHGR6dkg7cZ45qreW7LKYYxkgV2l/ZC23FWQyY8IxxmsBbZ3vFgZQZX5bjjmrVzbWSNV6e6nsOZ1GylW2Z2XDbgOtc2WxnPPPlXrVzpsffGwaHvC/QjpXn2saV8LqEtsoXCnyHnWiubbwed9W9PnTFTj0yhZXdxHK6xLneOMV1ulXzvB3N1lSB4cc81y8URtcAHDZ6+1asV0vBjmAfHRuam/sT6ffOj5Wy/fRMziSON1BHC7aoNPLE2zu2HnyK1f2gJgu9+nAxxViSC3u1GAScdQaSpNHSenVzzW8HOohy0soxuPFWITEF/dqxfPQLV6501ZCDFkbT4ufOpreEqm2KDLg/NT28mVaO2E8FBkRTgqc/SrFrYxzOWcHao5rRi0aW4XvEQnnoDV2HTu6UwNBJlxx4vOlyk0zoV6GTeMZH2+k2ggM3JI4yBkVXjuJ4JHt7V2VZRggjzrprLTGihMCg+H97gnjb5VgTQzQ3wu1h3IHO/H+FK3uXDOlqNO9MoyRux3FrbaVG/fr38vikdjjb71mm4S13ahIwjgf5pH4DleVI9eaoXTWk0wa6nRFzjYPOsLtPqrXTQWaODBCfDH/CfqKsq9/Jn1nqPjr3QfKKmsTS9otROoMHXcwJUL5eddZ2bmsNODfs+ZIJCo3tJ4a5mxYzJ3cThGUeI4/SoIdRvoJZbUTRlCx6LW1xUY4Rw9PqI0T+ImstmzqEsenXb6jbXIYPxJEvLSMehx6VlOgupWmcHdId20D5R6VcjMMiiVo13ZHNaD6Ox01tTsFM2xj3pU8IKU3t4Q66MtZPclwc98GxGNuCR0PWtZdJMVmkgQg46HrWjbaWb+ANawtJLtLOM8pitqx0m4kjihuY2QHglzniqWaiKjlnQ0HpVlr67K3Y/RpJXmkuhMY4YkIjTz+vtWf2pmWNwdscS7ztReMD6f416Podn+x7S9uJ3wJIiik/pXkvaUmWd3kYPhiwNZtNar7H9Edf1ylenem11x/O85E0C7Tf3yKSFGDuGKk1FobqUSygKoPQdao2aPb2UWxTjIz61oKEmIEYVzjzGea2WJZ2nmqHKVai3yXrZzMRMYQvPXNaMkqvEIiGx16VXtou6URkcqfF9avxwCYgKvixWSfyvCPR6aqTikZckHOEUlfpzULeAhdrDd7V0MmmSIu7keXFZk9k6zxjk8+dV3p9E36SUHkyrqEgEqOazHLxSEkcV0d5CFYgjisa9VQxAHlVovJytRp3HkqXssD27KHBz6VkPEkiAAjjjmr06KMqFArNuJBFkAkH61pOHqW92TSg/9nRfQYqpexvjbgZbpVm1cPHgUuoFIViI65J5oIb+Rs7XQ9Tl/wBD7Wzjt+YBtOBkisfV7VZIt4BOEBNdb2e09E0LT75eIp4RK7+TGm3+m2E9vcXlvIdqgZGeK5kbVGbX6s9/L06y7RVyby9q/wBjy+8hwSwHljmqkAwxB9a6W90nv8yDOMetc/PBJayDPQsRXWptjLhnz/WaSdc2/YaoJ4FKqMH3cYp4UDpS06XRmLCwKwJA8qhjtSMqRyTVm2c48ulOlZAvPU0s0JJIiSJQoB9RWhaxRgAF1HsTVGFi+C1WoSC/IU49RVLHhGipJLd7mkgDsV68Gqt1bgE5B+1WNNVkjcy8nvGVf9kVLeY2lsDNI3s6k/ngmzBlUhj9DWfcqTkitW5UDJFZVwxGR705PBydVFGZcHk1RkQls8c1duOtVZeBkVpSwjg3xRXIzjHrmpUO7AHWmKATinxgCTAqU8HPUUXoCY/CnSpTcEHBqBCdu7zoJJOTU7mbU9qwhzuCSRnGKqOQWJFPaRgvlUVEexNknLliMcA1CCFyD608sSMGon+amGaXYnWrdopHhPXrVWNS7ACr8ELBsjriobwiYfmNmAFRk0y5lIHHTFSdFQD+IZNQXPT8qXnJ2EtkMoz5vmqOpJvnqFmIOBQngw2dDKKKKYnkQNLgiowMZ+tLRUihiqQcmnDk7R1paciD5uc0ASIQFwaZuC5Bpw6VG/zUou1t5Qyb5qiLAcGn53t4qbKgALDOaCjeR8RAfJ9KfO6shQdaiBIORQSScmpSyAKQDk0rAtyKRQCcGpAABgVbagEl5egqViwfXNKQGOT1pSdwwaq3kEt3DJ9N3bZJT1YcfSoINzXmyTADcDnzqxA5SHauMVWXm9jbJ9OKg0Ring6qISR6XMBLlV4weK5mNj8QsjAkx8jFb2p3HdadEqZAcc8Vi6WvfXBPGBxVE93DNVzUnHaWptPS5Ml9PM29vEeKpJKkI3yLsTOAfKuivrYW9jGwB2zDPPpXK6lIsqmIHwAYx71ZLBTVV7Fu9yEvPqM/cKNqp0X/ABzWzBpkdpGHnlMpPOD0qtocMfeSPgk+9XdSkZIsrjpUkVQWzd7kXxqTS7I4wpBwTVqWV4YdkQ8WcnPSse1jAmR8nLSDPNdHc2y93vUH0qjbTHadSsTOeeCWaYPNJuHpWnb2iDAPpSQ26CVTLnb/ABc+VTNcRiciLOwYxnrS28IbXSovySLTxx92WzjFYlwWklO4eHpWj3huW4fapFQy26RD5tx9ao3kfbF2LdEpxRIq4NDzsi93EDjOelP2S95sXHI8xTjbMpwRyeagzeJxjuZlSM7vt28YzTPyq1c4iO5QM9OarE5OaBDjhj5bDY21MYqpJERyBxW3C4K93LjJ9KiksYycFwoPOD1pjWUEqdyxExipAyaeny1YurUwHBzt96gAA4FV2szuDXAtCAl+AaKkhdUbLjw1cK+y8CkNtuOcyckYrNYcMPViavTN3yju+g4FVXt5d2V6VVpsda1JYRAoZTkVatrt4Rg+uaR7cq2B6VGE67vWhJpiVujySyOZDhulRtEjHOKdketFWIbcuWNjVlcFQKuB7gKNqj71FEoAD9T0q2JEAG4DOKq4r2H1/KuSSOR9g486sreXRHy9Kjt5YhjcOOla8FtazRMyttIHAJqkvlWWdGnNnEWZpmlPDA0rFgNzqftV0W2DkAfanlARtcD7VVSTNfj3cZMqO5lXwEc1Ol1Lt6GrE1qm7djw9KjMap4QKsZ3CdTwmIGyMgHH0qKaIS+Rz9KuIq/JgYoYRqcEUF3W/cznU/LjmoypHlWhJAr8gHNQGJwSMD8xV49Gayp54GwzPB4R8tWo53cc9aqmFjUilo/TNS1lFq5SjxJmtboZEG0DjmrkHB5GMcVQ066VFAfGcVrwQC7hdoc5FInB5O5p5KXREEQ8DP2qVIWj8WMLSIpjcM8RUdMk1eDQzwCASKr9fyrKdGuEdpnG5KnDZBq7pd4qXG2VgFIzVe8tstHJ0LdQOlRMoiYeEZwOTV49C1OdcuTenaOZ8g7l9fKqd4BHFuTk0W0ey1VpXKlh68ZoOCMzhgPTPWrGh274/N2ylHHE6k9B7iqN2EjJVc4+lWrmWO3l7ott486rtJbsMM273FNh0c+zDWClCmRsYVdg0x2lSUvjYcjHNV3UBwo45rTsb4wps7rd55qlkk4idLGDklM05LGW7DSPIOnMYPBH1rIm0ZmJWGMkZ6eQ9q1WvEiIEbHr61ejnjuFDW8iJt+cY/WkbpLo9BLS6fUJfU4xomtyAitgnHSpWs+8IYSMvHTFdBPZ2zmNxIuw8tWbcq0tyy2qb1AAUinQsbfJxLtCq+G8mV8GR1A+9Pjs2HjIXH15qzLGyEBT51LDExIzTd6M8dOoyFitfH0xU7lIRnODirCqpPSobu23+IFunrSTf4/FHKJbWWOQFVPO3PNNkUlz0+9UohtIAY8e9PeR93XyoIha2i13q/wnmq13tkO5+uMUkRO8cn71O9sJQOuDVovDLt7uENtJBGVlPABq5JqluikNGzEknO2qLooGQSPzpyAtH3aYJyTzzV96FSnKD2ksZiudwLAsvJqlcxsxIANaunWKPueIqMDxuOmfSnT2LSHfGQw6Zx51KkmKnXKcW2uSDSy4hEOMjIPFdHY2krI0bxs6sBhR0rE0yCSABmxuA9K3rTWZIyNkYOOOBxVLHlYOpoIxwlYxy6JFJvkQHCddxxVS5singXaIyM5JxzXT28tpdhsSd1uOHB9fao4rNO/MbRq6rwAwzxWZ2yTwzurQwtinB9nPxQTb7cqAVDBWOeK7DSLmOJbiK7cd2Vwq5rJvLZrV1WNQYy4ZTjjippTDLtMDCUjkheOfSlWR8vZq0EfhJSSC/top5XJdQrkbCTjJ9q52/jeylKCNkmHOcZyPKumCQ2tvvviJJYyGWIcfasvXMy2Ut/IpVkQN7hfIVap44DX1RnU555Rh216ui/6xfubm4m6bWwU9q57Wo/i5Bc26uWkcnaxySfaq8cs9/dMQjsWcHJOcV019prabpBuVCy3LDcgA5jUdTW/ckeO+bXQcMfKjjpYFVio4VTg58j6VGkTBtwUge4rdv7O2ewS6jlUjIHT5j5Z96yYRMCe9Ubc8ZHNMbTRxbtO6rMCxXFwzLiNhk45GK04b10O09RVO2Zy4TIOBnmrMVuS5Y85Oaqa6Zyj0SW9xdi7lgWb91OcZPWuqs9IRrcJGSXQdXGPtWbp2kqFF00qMsZ3GrF1qszTBYFcYAIweDVJ/Q6+lqVEXO7lsuJILYi3tEMe7gv8Az+5qSxmczPG7MwQ8nH9KW2aa704ZtvFH0I4OKj0i4LG5ikjCbRncR50iSbZ0YxxKMlLg2NMkkhJuJ5S4Zym7zrK7Rp+ztlipHehTJIM8Y9j51tWF5p6WrxFGdRJkNnzNc92zvVKB8AyyZBYjnafL9KXUvmNPqXGk3JnGyTB5DFJN3vd8KcVBdhfhzPnlePypofBJCqN3JOKbKryRkZ4PBrqxeEfP52SmuDMTU7uI/ucrngnHlWnpU6To/eOxkz4SRjmqHwbD5gKlgzbPu4Aphhqskpcm3bWspti0S5Ycjmum0G7+DBsbkMkF4g704rD026LxbTGUycZq1aTG91EW7zKqRAZJHlSLYuXCPSaSUa2mu2eg6L2dluLD9paGu4q4M4BA2/etyw0BpA12fE2SWJNR9h59NmnS9unIsDxNk43MMZ6V3WvGy7M6bJctGBHd8QjyA8q8vr9VZG3w/U+x+h+l6a3QrUyfscD207RaP2a0AWZvFGoXbOGiAyRGOhP1rxqWG3v07+e52H+ECt7t4LnVtXe5un753UKSw6AdAPSubXT3jwDyQMDNd/QaeNFal7ny/wDEvqFmv1rTXyx6RccWyQolqSxHB48qsacyRyZJI86sWtgIrFQUXc3JNUXCxMVJIPXg06VkW8nPVfjxJo6Sxt0kjVn6npW3bWJRQ6DJPvXO2d4F2RHG3IA9a12vLjYYxIVUHIxwaw3Jy4R6j0+S4NHfAUwm7b9OaoXMZachAcYHWr1rC7x70AwPWoJjibIA6AVmj2di6KlFNmZc2fXIGMVzuoWoIfaOF610c10XyoxyPSuf1O6MKOBt8XXIrRV2cD1CMNuTCmjYkgCsm/glDkFfKt1cF8n0pWhjf5lroR7PIamvyIybZGTBcgD3NWr1EnhwrAnGOtSG0iMoABPsTxUsthlMqCBjyNWbSEV0NRaR3HYrUJ73stLoyDLIuIweOPrU15DcWtjJAAv7yRWbxeQHNc/2cN3Zzw9y+0Lx9R710OuXw7ojjeeT6VxrqMWuSPoXp2pVmh2yfKjg4y4vZraRFKkK/TimXlhcajCvcWnfMvJwccVPf3K3DqvcbdvQ1Z0h+ZDtGcYzzmtu51x3RPMuvzT8c+mc82lc7phhh05qNoGjGMcCuxvNPFwi3ES4BHNYc1oCxXFaqrvIZNX6d8O8QRlQ7kGNm4486gd5WYnJP+FayW6LkuDjaenrVHZtJyB1NP3I5tsJJEVnIwcK/AxWpFJauuHZsj0FZptyeOn0p8aGDkscdapNpotTZJcG5bTJGoXPip87F13YNZ0To2CWPB9a01uIpUG0cdKzSi28naotVkcGLefOazJ+h+tad6CWIXrisuUNuKtTE8M4+qTzkzJlIbJqrcKSMirtxyT9Kpud2VPlWiKwjh3cvBV2NT4lIfpUncvU9vAxPIqxkVcmxxjVRkVFN8hqzMoC5HrVab5KB7WCvICzZFRsNoyalqOb5DV0mmYpdDSQBk0KQxwKCpbgU6GPDYbrVhLTbwhyAqwJFakMYEILg/aq0NuOGbNaK8IFwMdelBtoi8ZJHZQpOfaqzuMFfPOaOfMmmP8ANVWm2a5SRWk5O4dKgf5qsEAjFROi7qrtZjkskVFP7oj5qawAOBU7WUawJRRRVyrWUMVSDk0+jI9aKq02wisBUb/NUlIVB5NV2shvdwiOo5eRt86e3D7RSFQTk1eKwUawR0UUVSPYDoxlqkIx51DSq53bSeKu3gC5cfIi+a9ajT5ac+6T60hUpHnzqjTQxNMkMoSPA61FESZ0dugJJpW2hTu6VFFIWnWNPM4NQSuZJGlev8REE8gp+9Q6UyJKI+cgelWHh22qySMFdup8qp29zBazl0bcvmT61WSyaeYzUze1ucPZW6nkKMLj0965q6YFBE3RiccVsFWntFuZWCBuVU1jXbrJKCFKhOmfWiKwhmplvlvLOk70uDFET4z5Vp69EkSxxxrgKoZufM0/stYd3JNeXAxwSFPkKZrr97KD/C/9KW+Hg0Qp8emy/cy9NUNdEEcbxXWLYvHBLNsIzxzWJoEad+Mx78yDitjXLy8KTxIrKgAAAqkuzVoatlMrCkl2tp3m21B7zrk8ZrHnVmdpCVwT69KmMkgQxvIxPWqjd42QDxmqiLr/ACdFmwmWGRYzncRjpW1cWDPAGG3n3rm7N3e/2ceE8eVds0ESpC8suBjxjPlSbJKLyzd6dX5oST6RiJYTsGRY5EjHDMRxiql4rqvcLIpVej55+lbV5qNrNDIWuXgjiPAJ+f3rEuY4mj72Mthhkc9aKnu5RW+Ea1hGbKCAQ0pb2xVNuMt71fue6GTk/eqEhBQ7emTTjk2cPJoKxU5FCTq0uGyD9OKWLkZNHdxM+1sj6Gml08BNHuj28H6VQlhWLLODj2rU7llORIreWMUXFm0yYUc0C5VNrcjEKkDJpKt3VlLbko9VwgHB60GWUHHlktq6btjeYNSqxUlIwcZzVYIMjkjnyNXoQGwqjLYHWgZUtz5CycTMO+BHn0pxtYmmlVj4XAwaviwRgZMMD7HFZ9xuSRYskbjjPnQa5VtLkkSOILhj9qia2hcbA3NWY7PdEXZmz9arqhViSTnPrQL2oI4wi+9PCk8ihQCcGpkiJGVoKpZGRx5cbulbOlBFkA3AVnQWskwwPmxx9aljgmRtjMQy8HBqJRUlhm3St1y3Yyjt/wBiQNbCUyRksMjDViXFl4u7XGSSBmkge+gTc4fb05NWreQXkinaVZfKsiUo8no5eKxRSjhsznBhXuvI+lV0t07zK9D61bnG59rfPUMkDNHtUkNTovKME4LcwlVFiXByQMGqhU5PFTCJh4WYlqcI3HkPtUiJJtcFbZu4YcUpjKjjGKmdHA4A+1EUTlualPAra/crqdxwAfzpSCDg1Ze32qWUYNQd27ZJ9atF5Fuprlj1fawKnnNb2l3TAiI8L1rm1jlDAg9PWr8N2yNtBHAqJdm7SWqqW6R2kelTSxmSKIkAefFZV5bSx7nRCSvXFWLftReCJYHAQKCM48vfmmLdNdSBom4U7mHrWJQfuelnOixJ1Pn3IY5Fki7u4yr9cEVVfesuQVxgedPvZFbkfNnr7VVbvCu5T7VZLBzbZPcaausdtls+LkYFZ8twxXmcJyeKRb6WSIRPHtI88VXlVXPiUGrxSfZSd2VhEcw73xDBamxQ5kwwwf0p6xhTkE/maGYg4FS3teEZmskb+DCDoDmnpcMhGwjbjzpxiVySc9KhaAljtJ9KW1kViceUb7iK6Hed4jc9AaZJLLC4EcbEngHHFZdrciPbsA5IFbzAuiSISMf1qjWGdeqfmhw+SrG8s8TLOhRiOhrW0+zihgQjr19qomB3Qv3neN6Drirdncs8Hw7KVKk/XFQng2VRjGWZciTafFJnu/14qiLQREk9K2FOCKbdWhl8S5wRVtzG2aRzW5IprAWGe7YD3FMnhZFwFq5A8iy9zMcjaT+dOudi8OBnrx6VMXlkeGOzJiPDtlx54NRu4Q7WBz9KvTIHw5yCPSqtyYSf3Y8WMc1Y5lsVDlEaKVYE1Z2lyAuDxVNpEbgnHn1qaC4AbANBRPBaABIDHHNalnaMMNIhEfqazrXDKJGUEj1FX1vDMvciQ4Hlnig10OEuJFi6tZMubU7YnIG0dftUz2ltaRBJR3u9BwT0NIZJIkPdkZPHPNZtyty6sDISG8z1H0q8OzXdiv8AKiKbaLpIlkRgSOhrqo9MitrdZVdPEM8NXL/spYWExkyRxx1q4lxJLhBI20cdau4OTyhGklGvd5o8votwzzG+CtP8zAjiukhkkiJMsW/P8RrjrmMQvEI5i+TncPWtfTLy6huQ1yZJk2jw5rLbysnV0Gq2Tw17l68kd8yFfGBkKetYcWotBcC6ihERDHcvv61vXqvdRrKr7SQSWrlL0pC5BkLL6586mnngj1C6VVilA37HVo9Ql3f2QKnLHjj0rK7R3ZvNtnbKRHGeWX+P2rMtbwFHhEbKBwCanSRQuSxCdOKZGrnkwy1j1Nbi2UbZ/wBn3TPASpf5iRW099FLCFW3jLNw77ucVmahFHMiCOTxvyMVWhV7blnY465PnTXFMwU3T07dcFwxk9u5bKIVhXhIV5C1DJal1wqnPp51t2jqtzFvVdu4Z48qvahpKWWorNbOJY5VDbT5E0SkorLBaV3fMjC0+yDXCRyDGTV6TS0kuGZFJA4+1bcGiRyBLjvgshHy1vadpCbQHw3XkVlu1cazuaL0ScuGZ2uWa2Wj2ccrbsL8p6/WuIe9le/S3iQBD81dv26ufhhDbTgeAYB864WBhJcd4MeA5P0q+mW+GZGL1+S+L8VfGEja06d0tjCn1HNETSNKVuJGSPqVUZ3exqnZuYnCg8YPWtC6CsgkXg4xxVnwVrluimvYL27Nu0aW8zgDl128ZrntVlub9mdpm7wHw8cVrlix8QBJGOlQvYRxthg2T4uagz6hW6iOM8HKzwTIrO8hKhTwav2sCC0DSuoYqCn/AH1tR2dk0qIyEhmAOTxU+sabY2yNLCNyRoCSOlaIzbRzn6btg5N4wcnLGyuEBG361OlspGEqNkcEO2fSrUHUfStCk2zlOqLNGz3JH3QXLHy8sVuDSZW+C1S3jiSKdRGzJJlhjzYY461i2KSSsHU4DeHI8s1vafq0Flpbx3MZRYpRCik/2vqf1pdsnHlHoNBCHO/+R0HZtmt7SazhlaWO1ue+CgfMx6ivQrXXB2nUaZrEe4C3YQx45T2HvXlWlXsunRtqNpE0kDsBKP8Akwf4vyrpNO1NZJk1DT98rruIbPOD51w9fSrHuxye/wDQ/Uq9PWq5S4+hQ7aaTHDYx93aCL966rKxwX9ciuGtrVzKjOVOw4JDV6tqGNZRpmDS4GRAxyI64LVrcQuO6iEWWIKin6S5qO2RzPXtFXO74itcMWKIzxkkeI8Vz99EyXCx7SCGPlXT2LksqYGM+lVtYtUZjIFAKninqTbOXq9KrNOpQMyB9qb1PT71s2sgmjGDyRnmufVWjlHoPKr0N01v+8JGDzUuKZn0l2zB3Gl3cSWzDdzjzqgXzcMSw59KzIJZDFndjnyp4lcNndz71ndThyehrv8AMkivd3G2do5ARtHXFYmpyQyAqNxP0rY1J2uPE4AI/lGKxtiyOUbnn86tDjk4uvbeYGWCfQ02UFlwBWm9oXXAGPPiqklvKg4C/mM10Y9nnL6bIlaI/vVODwc1eklQneDkGqgQryQvPoKYySw+Nm4PrRLspXKUFg1NPknVmmjbG48GtqG6LyxtOWYL1IFc5pd7gBXiKr6mup06F7l44kUb5DheKz3RWMnc9Ok7MRgYOtWrQyGYldodiTnyPSotHKtK21htkXBOa37vTi6zQ3hXI6Vzi2zWbttcYHTHFUT3Rww1VM9Ncp4OnEqi3eBc8j04rEvIY4lyTxjn61fivIlt2D8tXOandthhu4zmmVLa+A9Q1kXXHA5JI3JXd5VVe3wxBU81VgeWOaMu3BIFbphjc5wfSn7mcOElflsz1yM8HpVWWKIEsAcfTzrSnVUi3KMcgVUlaGK1eSQHIOahvIucVF4RCZ2VxEoOOtWhMAA0Oc/3hiq1oyTx97jyp5kVcg4FQEJuD4J542MZ+tZdxGyqSR51tqY5EPrWXqKMMhcYqUssnVRMa4Rj4h0qm+S3Q/atWVQI1OPmBJqqsXeMcKMfSnbmcSdW6WSFonK9KWFF7uQNkE8CtBoDg8VUkTu8+uaYTKrassrNytVLg5Bq3ISqHFUnO7IPrQYZyeSNVIOTRIpZcCn0U0yuLlwhgQgg4qxDGJDu2njip7O1MniPJx+VWO5aFskDbQMr07fzEqRhF6HP0oLAcGrMqjYeKpsck5qqeWdFxUY4Q1/lqOpSARg1GwAOBVhEuyLY1IQQcGpajf5qBTSSGP0qOpSARg0iopfbQLayRAhjghvtU0caFfT606EIRuYDp5VHI6bzgkfSghpJBIwAwSM1XkdQ1DMrnhjn61G3BxmgS20wT5qkpAoByKWgiPZFRTmUAZFNoCXZDRSqATg0MADgVCSRVvCEp6sAMGmbXHLU9VBGTQ0mQnkdRS05VBGTQ1ksngYWYgg0/SYe91BW/lPNI8bKMnpVjTVEUne+Wao1hl4PNkTR1WIGFIYudhBNZEwLrhfLitGWUMhAOTVBvApkb5cmoNOoeJJmkczQLCMFQCfzrL+H33IjKnCncT9a2bCCUWzSYBUKevrUaqinc4G41EeZYHut2I1bTbHbnaRnpWNftkNuPU+taFghZZYiTvAO3mse9bvJWiBOV4P1pWNzyzXfNOpJfQv9ms3VyN4PEgOfpW7rFxsiniB6Gq3Zi1W2tJLicbWDAoPOqWq3bTSSYI2v14pWcnQp/wDb6VRl3Iy3y7ZCn7UQ531rWVqJbQy7RgVmyFfiDt9BQzC9O44f1LmjaeBexzyJnwnz8uK7aRtMulW3AUMFGcnFc9JPbWuno8bhj8vTnmqWkXJe8ldznaMjNc+9Snyei9OthpP2LX5jZ7QaJZW8EVxGrpvypUrxkVx06eGYLMEGOhr0ftLHC2l6eWeTBViTu4Geprz1jDObhIYS+0lQxPX3qdLbuiV/EOmjpr0oLCwv9jLfklh6VTmUlSR6mr0ihTgZxVadQowPrW2LyjyVvQd61SRSsDmoKkT5ac1kRGySZbSWViO7XJJxVtLuRfA3DD1qjEzIodWIING93mLMxJNQnt4Zphc0i3dmSRu9dT1xVV0WTwg81MruxwzlgfI0kUJWYunOR581YJpTZXlhSLGAck46U8xCI97FjkVPNtlbYoG49PrVR3kQGMkcdfrQLcccI3tM1CKNwJIDIDxtIx+dS3eid7K1zbwHD+QrKtb+1RlbYW56A13+gdqdBt7IpLbTvd7i6BlzHtGM8+tZb2180Tu+m1Va1OqySWPqef3ME9uDGUx9apI8jAleeT0rtdamtL47oIkx9K5q7hWHJVFB69OKbXZujlmHXaXwzai00itT4iynIximbo/U09Gj2nk9aaYY9lu3leJ+9j64xWjYam4n2SRAjrk1mxEKcHpUglRTkYBoNunnKvmLOo/0huZrcRdynhUqMtUHxkskYaNAkg4JBrFE5A2q33NSx6hLEc4TPuKX40ujqPXzmvnkWZ715XIwd6nnI4qSK4ZhgkZqi13A6s6cMxBPpTBdhTuDDNTtYt6nPuXZ1LR4HrTIFKtg00XW44OMU+Pc77lxiqllJPoWWNi2RTFicPkjirSK27xYx9KfgegpU+xvhz2VQc8AH7U5YgwycD61ZNtsGQoz71BMGV8dOPKoi8F50JLkEiQOpPkc1aghsppy08bEeuKrE4IPvzV493JGGiyG6U1PIVV4eUk/4mjLHoq26liA4GMnpzVKFLWHM1tNvOTziohL3eWCqOPSokukMh3k59KXsZrlasJJJE11JbSN3ywjexywNETwzDgbccYqK4hiVjMsm5SMKPaqq3KRE4PnRsYmVryWbosDleahhky+WzmnfExldg5+tR8Z3LRsZVyTeSV+nFRE4OCD9qsRgFgDUr28ZOcHkVVrHZfayqkCyfKPuKeLNvJCR7VZjiMZHhGOnSpWk7ohQxHGcCqbkOVMZLkpCxlcbowOOeTitXT0lmIhdRke/FQx3KJngYxWxbJbRwrNHuy3Jyaq3lmnS0w38DGs5bbJgnyWB3ZqokUsTFjkvnrWlhySznypA3eMVCrke1VbwbXSn0LayxswaTIPuK2LayF3hEwR65qsmkvBEsrplXGVzTbWa6juFgjYKjHoBikzWXlHWojOCStXDJX0/ezOtsUZeNx6VWmtwp2GIE+pNdHaT743iuSCE6Y4P51Ru447gSd0OVAxS42vdiRvu00HXuRyc1ptkZWxleDzVKa1J4xzWvqEMsc5PGGPPFV5E2pkgZrduR5DU1RcmjFmgMP7sDioipHka0NT8U+emPSoIYjL4VHNP3o5lkWpYXRLbLLsCuo6+tdHpdmj42/rWTBBIR4wMDngVq6ffpbvsEZYjzzSLHl8HY9PjFS3SNQ2jBN5XI6VSu1jtj3ssBPA8LDHHrWyt1G1msyAcnzFZd8fj2MZYs+MdfLyqkbG3yda+qEI/L2znr25kb93uKnI5FVPh2MeO9fJOela50wSOGdip9zxUsmn2sMOWm3P/KPSnxsS7ODLSzlzPoyo7S9hTeJDkHFW7O7lhm3u+8gY2niobhpW8STlV9TUMccgG7vNx9as2pcIXmUHtidRBcXd0hjYKoOT4jisLUUdXdHxuHoeKDed0QXlfOeBniht96sknVgPKqNYeB19vmiorsx5We3YFR4R1rXSA3dqu1SVPnWZfI0Z9jxV7TLmZbcIr8AmmyWUc/TtRsakMMLQEMFOcgcVfSIz4DjjFXra3SVMTFVHr71Omkyl90TBkXljSNyR16NI289laHTBGe/DsWAx4hgYrT0e7kRwDCG7tiSfUe3rVeSK4XvLdnJJQkZ9au2eLY2e1QQ3hckfKfU1WUlhnR01WLFsWEdUNGimkju7SNyjsCzMuB/51pX3wugQNqMqriNTKEbrIR0FafZS+tmR9OuJEFrHEJFcr/F5DP3rmO2JurueSF4N6ldsI8tp864m6VlyU/Y+hXQq02idlC+Y8s1ztBdavqMt3eW6rmRmRVOeD61VW97x1SK3Hi6Z4q3qOnrb3Dwyg7l6c1DZ2peQMo4UnFelg4Qh8qPj93nne3PlscE2NumByPTmr1lIL0mFOq+R4OKgvA0aByBypPSo9Nm7uVZlOH65FINCbpmo/ctyQrE22TCkc+1QNIrPjIPHl0rUm7nUIjJwpz18qpRaWwfcZkC+wpcXhmm2l/8Ax8ozLiJlJYTtwM9KihkMlnMHcll55448q2JrAxtvWRXPpisu506QykREgsMkZ4q+5GG2iaee1gy5o0QcjpTLeRTIztnCj9Kv3unyqTnpWQXMTMqkeLg5rTXJS6OLfB1y+Y6izmCW2fJPl+lLcSSiL4yKRiVHhTy+tZMWqRfCLG8bKX6mtXSpIJNnfygJGcke1XabN9d6wkijdmUXAuI7iaN5FLSLu8H2p+laxc210HjkmUE7fC2Bn1p+pqJ55pIPkPKfSqkAFtJCZMc+L71EsTWDPXZdRqPllwevdj9Zimhkiu4lyx4Y/wAXtWT2lsE+JS4BPcznOTxtHpVXsw630ZaFtqxHK58/rXTxJ8Rp0tvcxKTDkozjPFcaUVTPK7PpWln/AIlo4xl/JnE2FzFG7OuJIlOVx1xVm4jjvIjcBdoYnArVu9JtkQrAka58kGOKoLayBtg6AdK0bkYHpbqP2cuv4GPJpplw0Z289acunSowImyMVtXVt8MNsQ46c81VghdZN7HKmp8jXRknoEpE9no9zKiqLu2G7nOzyqS/sHsE7pZFlbG7cowOfKt/T47FLWKPuzvAwfrUt5pMqQd46Lg9OPKs8rHnDO5R6dHxNxzk4K6EpOxhTbbSJJgZWk28kYHNblxYsSW2jIGRViC2EcSmReCM8U/yNdHNj6crJtWGLH2fKPl1GMeRqvqttDbw/u2Ga6aUvKu6LhP1rPu7aEj95GpP0q9dzzyUu0MFBxrOP/dhgqnn6U24J7vaAT+VdSmiwP8AvdiAYxkiqV5pqq2ECkY8ulaFbFvBw5+m2wjl8HKxoY5GdR8xGK6rs7eGFo5lILRyhgB1461iXMEcbuig4QjFRQ6tHavsRGJHO4VeUN0WYNPqFo70z1h7CC6ZJJbRg0hy3tXM9q9Mgt9vdMg8WcBqbpeoyDMySOHPucVOxtryGZrh8yE+fpXKrhOqzPse3u1Gn12ncWsNnDTpdq2VbvAeOOlU7qLcDGwIbzrob1YbaMxJJyeMCsWeKQ+InJ966sJJ8nhNZp9vZjmcoSJFHhOCGOKv6bdPOHWCPuyeATxUU1mrhmcZJOcmn6bujnIB5HrTNyOfTCVdm1/lZoz6ddpGZJJlzkDg5qhNHvilid9xxxXQlGmt2kf5f8fKsG4tpe/TB6saqnhmjV1bfmj0UyJoIDbQITuq3ZWJO0TADipuSuI0yPbrT4RcxDdJCx/OhvIuiCfzMtSOFBQA4+lZkyliQB96107uSPafOql9amFTKaopJmvU1vbuRkNYRM/eSHH51I1rD0XJHqK0rSzWbuu8x4+ualu7KG3yE5x9qsZlUtu6RgtAOVxziqVxEVBA9a15HR3wB5VRvYcDK0yvsxW1KMcoxJDwUwc4quEYZBHnWhcQHOQB9qhCbeCBmtCWTkTi8lEKT5U+JSH6VYeIbcKOaIY3DdB+YpqZkjF5wdJ2f0r4/wACFQwGPEMirmsaBLZwEnYxz1UY/StbsBZG5uxHjqx6V1XaPSWaxVyyqT1GK5Vur8d/jfR7/QegR1Hpz1CXKPIGIY7B1601gVGTVia3EUz4zheBUMvy1vPKddkKMFbJ9MUxmAJpaY/zVKTYqfY2kLY8j9qcqSE4OKmSBiOR+lMM8ovBABmgjFNkODgUKfDQKawQySMow/nxxzUYBA+U+vSrr20bsMSBjnoK0IrACAFVB58+ahvBWFTsMJrXbwRTdmOFrUnhKS7CBnHpVeW2IG4DmhPJDpiuymI3KhscHpSFWBwQau8LEvA445pjgbd+Bmol0R40uipUb/NUzRsoyelMKg8miPQuUXkgVSDk0MpJyKfRVigUUUUAIVDYB9atRxoEAwfyFRCPJAX1q7AndgMeT79KC0E2yoylTg0+FSWyKURs7Zf08qcf3K5Tr70DGsFkd22Q54xx9az5GYSNF1UcjFSPnb8x+9FlCWuM9ePPmqNpomeJrB0b25t7KE4A71dxBPP2rGnUs64/hYk1tXc/eQoeCcdaxwHeQjjH0qp0LJR3cF12EFsQudxIH5VmRxhJ8tyXPGOav38ncwuwxwOM1S0XvZtQiMm059qh9FV89ij9TeEsttEYiMZ4qitq9xc7ccPV66b4icIoAJ54q7YWfd3ES4ySc81jlJR7O5Ch2tRfSJTbCz0lPIMOK5aKN5Lt9qnr512OtKWt1gUYVGAGPSsQRwWKvOwLMvIXNZYPLN+t063QS6ikU5FBiMbdeDxVC1mW0umf2qWW8fe5Ee3vDkk9PyqnKdxOfOmHLstSmpR9jr9b1me+hgWa5xHGhEaLz9/SuZGGBcAKNxFMt0kC+N2Ix5mkYk5Xyz5UuutVrCGazVz1Ut9hRlGW/Kqlwcirc0iAkj0qhNIWYgYxWmHRwL7IpYJWBIwKFBAwaRWJODinVoED7SQthSRzUyOvekenFVY0UEAE8HPWphwxbzNQ45GR6J1ZkOVHPSnCZ9+40zBPy9aMhOZentQ3hF9zJY2WSdX7sKR558qc6xiZneMNnoc1BuK4dOhOKnjG8jcTQnkZCTLNxoiT3INtNHGfQtxXRaV2MvLu071buAGNjtB55rkpra7hnBEjcH1rUS8mXaTK4KjoGIB/KkzTa4Oto5aZTflrf3Lsug6rYXD/ALxnhDDJHSsrWLKXe00ca7CMcHJzVmC5cSBFvJCJGAIDU/UrK7trtFVmkjdQSQf0+tEE0uS18YTU/Gng554ApAXGc08dADUlxayRSZBOPemYI+brTzizWx8E0bsBh6f3pHC9KrtLtGTihZdwyMUEb2X4JlXCgjNWzHBKuN3P0rJQEMCCasicxY55xQaoWZeJFia3WDwJzio4nUHJqySksZzKGPXiqa+JjGvXOaC0sN/KTVPZXAhnw2QMVE64UleoGaaSDEHXqRUbUOjPY8nQ24S7fb/Ec9aSW1eBiuBjzxVTTbvZt2465zXVRWD6goaEDI5bPpWe5beTu6SHxMeOzItjCq5YNyMfLUFzaJJGx6lPEuK0r7TZ7aQggDiqNtIYWZZiCCeaWOsjL8k1goojGLPFWLaAvw0u1abdosJBhkDLnGDUlsruGYHoOKdDoxY+fAd1C3BIqG5gRV7xCD5dajadkbBIxioJLmSQFcjb9KsLssTXA13YZV8Cq7dT0qVx3vDEjjPFRMNqEjJwT1oMkpvJKxKDIIqW0lHe+LrVXd6mjJ8jigI2uDyzfEUU+FUjrxUZRgSpU8cVX02VN6OzHr610D2iXKi4QdRj8xSp9nY00fiFwVbWMS+Bj5frUFxbO7NuUhouVzU88EtvmIHBx+dRwXEjMY523HGMnrikJZNcl8uyRRhDlS2PGRitXT7iTcsRG9VHye9Upl+FQhsc8p9Kt6c4yroACR1q21GaqbrsWDXQzKNjLtbyB4qJrSaKT4lXwGAzjnnzqs94ySfvC0j/AK1VvNXuJU7lDsxzjzocEzpPVwjyjpo7ySaLCyNID/d4qvJHcwgy7ipz0HNcdFd38OFjnZQT0zW1azamuCzPISPOqSgksobV6jLUYUk+DsND1O4kl7i5RgsYOMCtG4FyyFraUAOx3AnHFcfpuvSWshkngZtwIIFblnq8l5vktrdgqDLBuayzqcJ5PR6TXVzq8cuyhcWUneMszBWQZJU5qhcWsWO8WQs2Op4rVu7jcsgKMCw6k+dZ01pMkAJPJGRTYzbRyNVTFSbRj3kaM2VBP5U20gHedP0qWRJY2/egZ+lSWsiq2SBmn7mcTxR8hftrYrEcYziqkzuJVAB8JJOav20jY8qhvgNp4A48qq3k3yp+T5S9aXTSR90vyk554p08RRt0eFbHzCqWnPx4uB7VeZg4xnioSwbaf2la3ewwzsuCemazbhJHmdtuc9KvOCW2CpYICeXHh/Wqt4ZEoO5YRkTWbSfKo9eapEy2z5jWuhkhaI+ILjp0qtJaK3QcGnwm8mHUaZ+xjm6DjM0Ymb1/xqxYw96xABJz0HkK04NOtTKFVMZ46+VTyWZsjJHaujd7wGxyD6VZvPIiOkmnvfRjXtqS/hAOOeKSwgfvO8lAAHFbkWndzCvxJIDglSazbkyQyLEE2hj5jmrqTYmdSqmpG3ZanbIMlFyBkYNb1ibe5DGJgolXx5OAv1rAtNDMcKXDJ83iX0psNxcfFCKMqqMcMAOtZJRTZ39LqJVJb4cG+LOGS6CTRtKwOGYDyp95p4tEdREUST5PT8/SrdjKsTkToUyclj/Sob67e6DuGYxwnITPOPWs6TlwjtvxxrykSu7xHvlyMg4wMmtRr2LUdMi7wiF4STk8Hyrh7nVntZTLbyO8Z6qxzsPoa2tNvreYCSNu+Mi+JD0Bqlun/wBQ3R+pwbdZzvaHTFWSRu4bDOzKWGAwPmKzbWOE4SMBdowR713namykFtDIOVC4APl9K4BP3czNnw5Na6bFKvJw/UtJ8LqcpcMuX1oZYNyAYPPWseGI2+W6HcfOunjBe3R0wQQRzWHf28hkJXgYq+5mHXUZStj2FhOsUqmI8Dpn1reldZEjlhyxP9qB1H0rloojGQQxxXQaLNtEob5nUBfWqS6J9Pucf2Ul2XJ7G3cd4LvLYyMVlI0pcrsDSA9XOOPKrckk9jKYWtgyt1YjpVbUSsa97HOu4gdR0ogsI16l1xjlLrszrtEnbxdTxWFewxwFlLZwfLmtO7l2KVB8Z4/KseWCZvGWyelaq3teEeY1zVi4KsK7rlWYHA56VpW7ykyERuQ3AO2oLe3kDB2C/atcO5jENrtLdduOafuZy6qpLksRJ39op7nY6ct6v71Wu4B3WcEZ5rQ0+7lh2pdwrncMtjyq1qVtDIhliB2seBmo6Ot4N8G12iz+HV1Elze2V2ybZIlO5jjzFegOLTUJpYbS48BRkVV554rx/Tf3V9IqHhwFOfQV6b2asnjh+ISUI6jiuZrIqPzI9V+GNRKyhaXHT7LP7LRY3jmlkEkbAEBDUcKQwM9vcS43DK7uCfYV2kEhvDDBdvujnbPeYAxXOdpdGW4juDZne9qx7og8/WubG3Lwj2mo9Ojp4qcVk5++01k+dCJM4wfSqcmnt3Xe7yeSNnlXTpFJdwk3BzMOGB61SkhezYwuAf4ufetFdks4ORdpsftGuyHT9Pvru2VrSJyYvnwOR9a0ILm4MclvKwLRjK59aqRazf2SyRWCMpkHix5+5rOOsToZlEascDccefnWjxqxiFra9LBrJHfXYVg0lum0jI8VZ818JRuLr6DmmzXZmt1VwjYIHSqc0cZG1VG481oVaxycKzXWTb2vglg1iUERRxsAT1aXP6Vq2t7aDe10FYkbdpOOlclG7xzlACzqwwK11s5XG+RCGbnFTKKSMmn1dzk85Nt7iBpVeEd5kcL7VX166je3ATTlRsDndyalsrEtBG8CsTjyPNTXWlXE0QllBA+XB9qXvjB8nZnG7UVPajzm7R1U4HJ4NZa2pDlivnXXapp/dTkgcYrKa1DyrGByx5roQtjtPBavRT8jyVLOa5ibJYx8Hkc59q39H1SGeVrRbNI3fpKW5NVLmziAKoD96z1heG43RkgryOapiMuR9dlula44NrVbBLe4yZTI7fM2KzZwqDaDitlrYXELOZ8unzelc/eOzM2QRjjFTGKjwjTrJJJSYxtrISeRWfkRSHIOOvAqzaOTIsZOQeDVprQMxKLwDjmpOZlWrJa0ZZGjzJLlMVpalarDaCdCMHzqhpyxpF3UhYZ9DW1DbC4jEbyZQdFbkUqc3F4O1ptOratiOetS0abbeJ2xz8tLdzSSptcY9jwa3JJrbSYRFbMshdT4iM1zN5O8k43you89MeVNRg1OnWmWCe0ZUZQEDJ6Vfv4vi41W3iYNtAyoyayopGDADHHtWnDqqwYKEAj2pbW3lDdPZGcNrHJpCx2guby+KswyFPX86w7i+CMYkkLgHrite+le5VpnIIxiubljdpCY4iRnHFWg3J4Zk189mFDoY0x3hz0BzUDyrLKzA+fnTpAChVj4sZ4rPV2WUgGtEFhnGtm1wS3CLuwo561CIw3Jq0qMTh+mKjlQRjw59ea0R6Mjim8laOFN3SrEFqXfAU/nRDEGkAGa6fT9KW5QKrBT+tS5KPLL0aaV7zE6H8P7d0ulKDJbJ6+XFdz2niVbPYQQ3XFc12S0u406dXY4Kqf8K6PtFIZrQOTk9DXmNa1PVKR9n9C07p9JlF+54rqluYppCR8x4rJYYJ4rqdXgLPkiucljxIQePpXdqsU0fKPUdM6bMlZVIOTSP81TMoAzmoyoJyc1pj0cmfZHRgUNw+2irCpdEXd974Bj1pDaFeq1YCpEQ+T6VO8yMQSB0FAtxTGxWKJjI6Hy5rYh7v4RwxwccDFLpKRT2pd/A38pohsri5v0iETKP5s8Gk2TaeDo00tRyjJ1BY8gsSoboSKpxRKEccjd04rpry2glkdJIwVi+WsS48KlABgE4xRGTwJv0+PnZls7xnYMbaTvmpZBl8Gk7on5aa1k54koJTA9agIIODViXg7aiKgnJzQlgpLsjooow55XFSICnLGJD05pdg9TVzTrcM+8c84waC0IObIltmDDavnViVFiIaPrtFW2UQtkgY6VXkCs+9c9KDW0kiv3ao2B1xUUkbbSvGeasMymVwM+E+tNMUkn9ljNAtxyVtjOuQOnWtextRDA0gxl+lRR2yqm1xyeOKnlYxxBVOABxVdqLVQaW5laS4kA2gcn2qWyjWMd5KQBk0NGRJtkAyBnis/UZy57mFscCjai7k0yK/umuHIwcNxW3oNpFHGjjJPNc/nahwAcDPNdH2fnRIIkPikkdsKPypU3hGjSS3XLJ0mk6MERZpnYl8k8cZqxaIJLxzjgMQDViwWb9lQ5cncpzmm208SErjkHr51xpzc3ye9oqjCKwZmrLHvJyePasC4bfk8DHHNbetTBJCB09xXL3r+I7SQMVeCwzl66/ngrCGSSTwNt461Ktp3a5Vt7ny86khjKyDPnxTJboW0jHI3A4z7U05e6KjlkM8gjc884xVKec4POPzomlJ8bkVRkkMpPPtxVorJzLtT7A7qzEjzBFRkhBk+tOqOTnwmnxisHOm1LoQEggirUEq43McY4qrRk+RNMITwzU3L/ADCmyDcuAR96pq2w7ix+9SK5YZBP3oGxmkTrJIpyKV1+IXElNXlN1PT5aBieR8ZCDaPlpwm2PnPGKZtcfNjFRTL/ABZIP1oLxeDRN4WkIbpg9PWnRkTL3QIAznnis6FiFznNOeVweDigur5J8k0kADZQFkHOR61YttXntFeNQQpHFJFdxCQQAqqE85FPu7VXyYDvXpgdc1VpsfDdF7q3/IrKXfl8bqZIjA5OMUx5Z424hNKJnkXxLt9qsLnNYIH/ALSlxnzFOdR82eajIzzuP3oMm1lhCC2ARUg4fd5YqpbviUbm4x61cODjb6U4vGSyWgV3DkdasGCN8FmCtgDcOeKzcsPM1IjNtxuNBohJYLUj3Hed13Z2kUzu5Im7sKRnxfekjnk3DdIxH1qWWVl/eLgnAHi5qsuhpJFcXFsQZVCnyGa6fRu1N5ZRsqxwNv4JZcnFYqXmmXMcAvAMoMOwrpdKtezMUMqzySKsq5Ri4/yrHfFSWJdHc9Mld5P2NiRPc6t8eCZHXcRjGaz7oqsYRmAOPOpruy0eS7b4a9KMvypu5NQ3j204RJGUSRfr9aUdSycnnyNN/UzH3DhRzSQ31xAdqgbalge23d27kMR1JqW5s1EPgOQec0yMkjnOLk8opGTvl2N9arPbR7ju6+1POVfAPFK3C7s80wyT44IpmSEBIzxnFQSQLI24eYpZhwGyc59aZ3zgY4+1Wi0jLYm2WZXUKQ3B9POqbOykgKae0wlYZwWz186klxgSOBjGOlXFpZJLa4jjRSGGQa67s7rGmhmW9yygeBdvnXLJZQ3kEckI2M56jpW7o/ZPULncgeAkDIJbBpF0FJZOv6XLUU25qju/Q3dTurC8AktrZUAU71z5+3rWE9vC0TThdp9PapJNF1e0mWNW3bOXYjinXscssINvgyIfGgrOk0dq6x2tynHazNlnlxtlkLD0Aqawv7aCYCVmU9elRRQmU7nkXd/JjmiewYJvMa7vXHlVjmScs/KSygTPI6PhW5BHWqsNvcOSvzHJwaSMyxcg54xzUsUk6nvI2xz+VBWOJPMhfgzF++mK5HHBzU0WqTweGNlZB/CTjmoLmZ5GwxA+lV9mBjJoL73D8psJI+RIcb3GTg55qe31O8Q7UlCgeWaz9K1MWc6vNZtNuONp6fWtdr61MrSGxUFjnFKOlp7PJHfGWH9C4t3LdiMOMFeueK0JXURqMjpWS00U0CXC+An+GnxSGVtxY8DHBqjTbOtXdti0+Rbi1SQb1+f/AAqjHEolKc561spE+3d+XSoHs23ZUVO5FLdNnlDEh2f2YytSLBuGSKktoplj7qTbnrzUhiliP7wADqMcVG9J4GKlKPRRsYpB4NhLA4wK0LZWSUK6kEtjmiOTu5TMqZJycCmNeO0neGFtwORzVmsoKVGrmRNMscEwDJuzxipG+GZAEG32qBrlJDgxlT6k1BKrKMljz0qm1ml24WUWYLpNzwuQNgIHFQR27yMzNG2wn05rGnldJmZCST4uDWzaXkrW6NI7A46E0wwRuVzcH7Esl5sRbSCQZQ+IjncfWm9/Ii5lLSe2OKfZ6ejkybfE3JrRTSpJo9wDbVPiwmePrUZSY+FFtqbXscte313ceKRjtyFjjxwmagTTb55UuJZiQPP29K6C/wBNtoW7yYuqjptGefKsbU9UeGLuY8ox+QMuM++K2x5WUcbV17JYskzSj1i6MUdmlyCi8DHWmXcN5b91cSMynJK1zSXGqABk1HxZx0HIq/HJqCqj3G9owehPBNUlFtlK9a5/LLOP4nXaXrt019Hb3cJMJOTxmtu4Vw091ZoMHgDPOPpXEaXqTpMrzkFQCennXQwaxJes1rYBstySOuazTgk8o9BodaradknkzLu0knkwX2MBnIOfyqXSIJGk7rve7AJ8QNWZYHknkQRsuwYJz51nm4l02YAoSjHJI61MuRPiVdvk+h2ct5Je28NlLxgYc/zH1rjdU06eKSWJVXaXOcHyrqraOWVWLRlSsYlznyPSq940LsEcDLKMfXzrNU9qwzv6ylaqqMrOGujmIHuUdYzJhByU8vrUhgjlkIYNgnPSrU9ptlxH+pqRbZo03Y8VWlJZOVDTT/I+UZUllboPk3HPTFT6fawd7uNvxVh4APG30qewYRS5RVP1Gaq5ZRFWljGaeDSeytHsdrxlJFU8edc9f2Srb9K6iCS3nkUytgk9SapalYhJGeM7ogcsaIywjp36WFteUsHGjTlaYAjyqzcaVA4DH0Fa62QDd8R4QMfnTJI1fIOeOOK0RksnBegSXKMJLCO2xFECVpVtrnvc28eDgeOtiaFbZ+7cferVpp8kyPIZRFGnJNM8jXRlXp8XLakZthp0zSRqy4775pJDtFWr5Y5CbO3y6xnbwPPzrUuJILy2W0TrGvgwefzpkS2mm2yi4IWVuh8yaE8mmOjhVHGeDnbK1jiu+9l8ALDAYYNdJBqNzGx+DclQfIVh6pqdi7lguXHDGuo7KT6RHp8rXUyozL4Qf61WaysFvTmvN4qpY/U09J7QyQxAXvcrDIQ6rt2suPKulNzb6pPA9o6QkqBhDn86851iewefMc2QB581u6Hc2UsERj1CGF1z1faa5t2nUfmieu0nqk4TenskmkdLcafbW9vIYxP3kfI3HIrnNb1GKO3SRGKzEYJx6V0MrXUskckt0uJ2BwBgYrL7QaVp6u+ydJQ0ZYgdQRSqXiXJp9Ucraf2aOds55ppcwzpJJg8MOK2NQ0kW/Zq5vJTH3oJb930yay9Hs1ti0kUe5n655xW5N3b6LextIXXbk8+dbbZbZLBw6Kd1MvIucHm0GoyRqVa3UgDJYnn7VfszHfgyyLtAHQelUNQVo5CO5KLjBNLpeoQxAxd4o3eEAiuiobknE8dVbOm9xu5RZmxYzd9boH2g4B4rTsGe8Ie5iKqwzheearWWnHUSHMwOfSuutNMFpAhcBscZFIsmo8M7fp9Dtm5LiJJpaWrt8Kpbk4PFaF/H8GqxR+MeS+X5msawmWGZuf3m4Y9K3tRlhksXXnvsAn0Fcyz8x7HSSi6ZY7RwXaCytpLt7iJX77G6RFXIz7HzrJs9Og+IE0qvHK3KB1xk12J0/4S5OoTt+7PQmpN/Z3tC5t0nC3SAd3tONprarJOvg8zP06Ns3ZY9ss5UTDl0OzuFVl3NtUjKjIrA1PTFtgcAg+/pXSQyX+lytYTRgKDgPjhvpVi70sXduztuL4z1q1d7g+XkXqdBXqo7alia7OAiuJkkwwxuBFUr0EKxUeLPNbOpQCBgu3kEGsq4O0lsDnnmt8JJ8nj9RCUcwk+UZC3ix+NmyB5Dk1rafeTTKBaISTzyMCs2TT1yJUTDKfyxV7RpHjkOw45PFS3lmKiM427H0y9vu9wNxCCRz14q8Lsz23yhSCRgU2eNu5MrsSCRt58qoWU226O85X0pbe7hHW8jpkop8MsFo5Qcy7Wx1HNZzWEE8575y/Hl1qzc3CgExooX1xzVD4rDlgcN6jrS2sMVbZC3CmugntoYTmLJqus7yN3b8AVcKbjkHmq1xCyLvXg01STOfbvrl8nCLdtdMDhyOR5c1JJIwjcFlBbpk1mJIVYEmrZeN4GZgCVHFWGR1Da5KFwjEFh0rHkidZiSPKt5h4T9KpSQCRi2PanQeWczUQc5bkVovAMNxxUMvzmrl1azscqAD7DyqjtkL7T5Voj0YW1F4Zf06Ad4hxxnFekaFooMIuVZxjqAK4bTbUu8Y6eIGvdux2nRPpHjQZ7wL+RxXH9S1Lphln0D8F+kLXWyTRS0+OOHhAeAeoqn2gPfw7n+ZOFroLu1jt5TgELg+dcvr8yhCBmuJTY7p5PpWr0/wAHpZQ+hwmqKHY+lcxdx4JArqb4AkiudvUUAkE16Cr8p8d9Wg5PKMaQESZIP2pVBYZA+9WJFB8WBULMVOBiulFpI8rKLbICpAyaSpgneeGkeIIvnmrJpipxaRFLuiddvynketW7u3CWySggl+g/zqlcyb+5CY3Jy2akW4DOu4528496kS3g1dBkPx1urpuy9dvZrb3Fi0aQhbhMhWPA2k881xdgjRX1rHFETI7Y2eYGOtdX8RJb2CRJFlBGzSMOoIPTNYNTF5PTejvbW9yMPVDaW15IsUoK549c1hansIDvkF/LHnVzVZYO9NwGXvCR4CPL1rIu5/iZVYMSEAA586dXxEwaucZZiuCq0bGTjHQ02QhUIPlVg7Yoju+aqcjB8gHinxi8nEsfsCkA5NDEE5FJRTNrEhSgEnaAacU6bfWpY02AZAz15q0uiVHd0RLAcb0HTk5rW05VChnyM1XiXKbVA54rQMIhs1IznJFKbSNNUXHlkF26u/B8xTJEUxBmP5VEMs4JJps0jB8A8YqSN6XYiQqZQR0rUtbeJgNxxWZbPud9/RemKl+LMx7q2PiFVabZNG3uRYkzIx2j5T5/4VdstOa4Blk2qiqCcnBoihURiHHiHA96ZqOqpHGLaLwlQA2B51CW3lmuNcIrcynqjwlpFhQAYxu8qxe5kWDJAxk85q54LuQGN2EYBAAPnWxpWjWsY3ajfdypJIUx7hipcklkTGm3Uy+RHORwrPEWRiARjIHnWz2ftxBdQ72JA6tits9nradDNaXKBMZUCLaMVm941rvgbaD6gc4pVk4yjwzZToLNNNWSWMHaOgOm2xaUIHQ+fOPpXOzyCB2XvQyg8H2qwt5cfs+2ie2djGpzITw30rLu9RTaT8IDg46Vz32ekuvzBNfQgv5WyaxpplZSSamv72WRSFK5+lZW52BDnzPSrxi0efv1PJcW7CRnDqT6A1Re6Ysc9aibCjKgDyqOmpZOffqeBju0jdOKbUiqFOR+tNkOW6Uw5rlkiZgRgU2iigqABJwKCCDg1KkTbqJYmA3edA0ipysAMGl7pqO7xwaAJ0ndmw+MVOELjBI2/WqdTRSuTszxQNreWWSxXkDmnoyOuJjio4XBAL4qy0VsUDsVB96DQkmV1MTDKMCaciHdu8qj2pGvhUCnxSEnbxigpjIrtFM24xbW9cVGZ5IG2W45xnmn5LDChc0ndvndgZ+lBfe10SSSyuuZV59qYPEMginG9Z3MYVMHnpSLECM7m5PrQQ22TGNB8rqT9aik4anxxoy5JCH1oaNQeH3e9BKSaIgCelO2NTgoByCaWnFEkhFYMcA/elI2+MY3VGvJ61Io2nOSfrQWTaHrN3o3sCCeOlWrZfpVRDnC8Y61MsjKcg1WXRojPn5i7JZW7IHVh3j8n0rRtrvuI1TIwoArEjugrklj4verNvLvfEzHb/d4NLaTWGa6b4xl8vBvrf27x7n27gcl/PHpVh4LXU0jFncbXB5PQ1gBDM+6NFx16VJEs1s5mVtn+zxWfYjqV6yXU48GjPbQJOWRuV60jle78HQeoqnLKFLYZufFya0ra3We2VhuwfSqSWGNhYrHiCwZlzGDJlQftUDKyjJU1ozLlsKBn6VWuMouCo+1OE3VxTKrAsMDH5mo2Up1x+VOmYrwpqu8z/LxirJZMFz2dCuVfxxHP14p6MXGG6Diq0a44BNT7yBgAVcyuX1Fkt7hIO8jmyh5Bra07ULiOFALiVJAPmVscfSshLriOEYCAjgCpoZ2lnZExnNRKKksM2UX+KzMXydD3802Z0v5tw5w7cU2/guu4FzbsW3DkLzz51iM00LHxkAgjk0+11S6tJU2u7IeCM8UnYjprWwm25rsstb3McykKVJGQfOtBXlWIIzZPXms+bUJ55TOHHiODgcCr1jDLNBvJJ8RGTS5LD4GV4m9sSrdxsku4jI9uaWF3WPAB6k1d7rjx8j1pO5GPCBStzNC0zTBYU7sA+tOawiA3MRVlINgOemKqmfLmNmqjm0aJUwqjmQJpcKOGTk9OK2LKxt44mE0WS3Q1nWd6FlRG2lSfPrW4XVzlRgDihvCNWjrpUcx7KLWMTPuIOKjkikjbMQGcetaVwAsTMAMjmm6bHBdzqzybFAG8npVNzNUdOpTUY+5Lau6KA6j71rLbxPbkRyfvRyW9B6VTvre2iQxwz5GQd9JpGwuyfEZZjg/SlzWUdaj/wBvNV2GzHorqCxLMw8scfeoLiAgN3ikGPkVu21vqMlqu3Y4hGCyvnn6VJfacjWW+W5RZJBjkeYrPXYs4Z3LtEnUpRRxaLlgNy/ma19M0OS/kaSaPbGkL5J8/pVGLTI0vy0jsAnQMeM11WmO8kq7iygLs254I9a1uzByqNLGxtTR57dXLW99LCE3RoxRR71NaObltu1VHpmk1qKNbyaRDw0r9apWNysMpBPOc1qrhGccnnJzen1Trn+XJcubONG5IyOfrU9pIbttoi2AeHA/rTWj+LkHdShs+Qre0nQ54cMyjB5pc1tWTXpaHfbmrom01LGMBWLg/wCzW7ILa1thIX3Y5VPeuenhSKfZlgygsOa2LVkngVLhclvl+tZJ8vJ6zRwS3V4Od7Qq2obHZu6ZR4U88Vykmg3l1MSS2cYzjjH1rsL2yea43pkmHgk1btJbWVRbSOsTA8titELJQ6PO6n06Osubm8Y/qci3ZgpD3s8xUg1UkuLu2h7iKYuhJ3KRgVva4LpZ9oDdyx8LE8Vly2jFNwHWmq6TOTfpEvkgsMyZjcoFnkKD6Nmrtrrl/alDGF8XTmoUvYdOvma6sZrlEPMZXH55rQOvaLeSLK2kXECjptXIqzWTJXCNbb8m1r2NqO/u9UhRoz3bKPFno3vVW6heOMpIwJPOTU+nX1tLBtiIj5zhuTSatE06psYFP4yOtLawzu43Ub+2bltqynTIoBH40iVQ59B1FXrO3jukim3DvUJx6Vk6ZCkUUTXOBG42gmtaG/02OfuYGJ2jHB4rHetnR6LRTViSuf6YINS0l8so4IGQRyD7VnWRiu3NvcYjaEcA+ddjGHltZYI4g8sbBlyM8DrmsSXSre4vU1KykVu842e461nVu3hmu3SLyJ19GS1iscqu4Iwenn9qfHaBZi4I2nnrW/NaROpBBMvkaw537mUxseR1p1T3rkTqKI0Potahp1nYRi4huRJJIMgLztPrVK/Ebwwbjhjy3ufWobi1nuEElrKXLMEAB8jWdeia0ljhuGfepxgnyrQq00YL9U4rG0ZJLNFKyCXcq8Gqk1+y3Csei8mrE4YFgnJY5Oay9Qt5GUkHGabGKycHU6i1R+Xk2LL4e+zcbjuXg5GKklklkk2RjKAD65rO0m3mjgeXJ5+1dHpNl3jB2GSRzUzSisofparL1H6sr21m4wc7SPLz+1VL7TrtwzNIeSSMeldrbaKFBZ25x8zVV1S0W2tXm72NtvRcc0mNybwjrX+mNV5l0cVFpVssW+/hJcfw+h9agOuWUDNbvcooU4wetN1fUZpQwa4Uuwx4RjisWFPASqq/iPGOfvW+C4PG6iapk409nSDVdKuIGIcGZvCGx5UW622VPxIEn8IHI/M1k6XYWBSQTnuWXgc091trVg5nU7TwarOpSWBtOpti1KeD1e0uZNmbuRyB4Q2dpwafNDpXeRSxGWRyeT3nH0rg7LUJbtla41dVjByykeVdjbwadLEk8GoAwrySPWuXbQ4Pcj3Gi9Q+Jhs4+45Zo72/lK2ghCKqKM9cdaTUHtRbPHHsjdhtZc/rUpay1PvUtbgo6jBKnFc/d6NeW7maSUyHoCTniqL5pZY3UPZU9scmJqoaVyiDxEcA8Vx1wz29w8DqQ2c112qLLPMJYGKnI6dK5/W4WgyxjZ5SASSeMGu3p3uWD516xCW7yR9i7o19KGVY5u7Y+Yr0HTJGu7f97dlih5OPpXjNvdSwEBXx5V3PZPWpwjoU3KgyxA8qNVp8oZ6B6t+18U2dolgLMPIJd28gsp61YupWWzcxKVYqDvxT9Ltvi7YTO535AyemKv62be30Zg0iAKOuOa4ib37WfQ6a/wD2srV7o5O6vre/t44bu/MjQDbtArE+EnWQvZWuB/MhzWrH2bu57iO6t7QG2nRXVh79a6TQ7PRLW9W01O3lV5HVEIGRzT53wqg8HIp0V+ut/acNPhmC9pFrtvCLi5cyoMEIcY/Oq+mztG1xpsjOrjwo7HOR5c1udtuzMnZ7UTd6c7G3uB4cHgCuPF+rzqofc7HDEUunbOOYvORmsc9HclNYl/uU9b00x3TI83eMnU1guEXO84wcV1d7Y3U8Ut8p4Ay2fSuUuIi2ZCSFPoa6VLysHkfU4KNrn9SjMC4JGOnnVS0mEZYKyhtx6nyq46s6EJ1rOiSO3kJmUHnzp5xbJNzjg63T2uLmzT4qTKoNqj1qpqdq1ooOBlzxg1pacEmtYVEq5UEjA61JqFo10FEjBAvQHr9azKTjLCO1LTOyhP3MCOP9zsePcOuKO6t5FK9wMr1zxVi7ulhRY4ot7MMkeg9arzxSyIjQ4DYDfnVm88nP2LKiTWltHHthTnJxxzVy50q3C5aCWRvPY+P0oslhs7mILIJVMYYk+pqzeXxj79omxlQOPKpjnPB0IRrjB+RGHc6fZpBmcsJnHhAGfv6VnrGyAKV6dKvSyW8f7y4l3tjA5qAzRMu8KOuK0eORwZuLk9nRWhDSOUbHh680rskXGftUOZHugqEBpDj2FSXloto64lMzk4YA0QeGZZ9GbdyySMd2MYqtahTKSc1NdEq+B0plmgM2DnFbX8sco5bipWJM7Ls7ad5NCIypO7w8+dfQPZeziOhC4fO5ic/pXkHYTSUlmhuNvAJzivbdEh7rRYoF/jyR9DXjPW7v9CP0D/6c+nuNUrsGDqh3OQB5VwvaNWUBj5HJxXoWrxDedtcT2ggLRSZHygEVi9OsSxk7/wCIaJzpntOD1BgciufuOFLHpXQ3qDJ5PSufuxwU8q9ZV0fDvUlnKZlOduQetRICSQAfWrEiKec80+3hycgZroxSaPK7VljYYwF8KnP0qWWymuItixM/svJq3bjeu0ReRO/yqKG5vLe8Ihk27gNuB51SMnkmUIpZZAvZvUJdPaYQGMjHLHFQWWlSvKIpMNhRlvKrtzrmrXELxO7jIyQvArX7KsEdZ7q0eSIctzUzscVlE1UV3zUc4LGiaHAjRXlwQDAC29jgk+QHrUeoXk80AhMpTHlit+/W0uNCS9SdYu7IwvqeetcHc3r9+XLZOB9KxJO6WUd7U7NDWq19OzGui7TSJgf2jNx6GoCCDg1buYzHIx/m65qs/wA1dBV7VhnkrZOU2xjjLEj0qBo2BPSrFRv81PSwZJ88jWBIwKZsapKKkWORG2D6irKo20fSoogCtWEORUS6HQWGPGFIYkYHvU81zE8YVSc48xVQxlhgMfvTGjKnBY/elNJjk8D3VZFK5HrVYJsyPfNShHXkk0xhtJ5zUiGsjHKRqHXqw4p+nqJrle8OADmknjXATnCjioopRBlycDNBMHh4Nm/v1tEeKJsvjC4HH3rBLPKylvnfrj1pJZHc72Yk0tvN3cqyNjCniltthKyU58dHRaaGidII7iOAMwG6TqD9K7D9sixs3t7LRobydetzcHcqn1rz6yvkmnVprYuc+dX77tLJar8JHE9vvOGDH5hS5QUuzt6LUw00Jbn2bt72xvhMYJY9OkmyBuhi2r9qr3t9crAb3UZbCIKMosf9oan7NdnNN7Q3MJ7qOaOXLExyZOR0xVrXYYOz1kyXmmqsbEhARkj3rLmFctvudWirVW0PUTl8vsSWXaaLUbBFGmqhQbWYnH29aoXsFnNllmRGPnnmsO7v47i3jS1V4COqg9T5VFcsdq567Bn61HjkVlrFKKUuRt60MannmsOUjcW8qvXgzklj96zXYqSmeKdtR5/V2pvaiMnAyajYgnIqQgEYqNhg4FMjFYOXbJt4GsMjAphBBwaexwMimE5OTVtqFDH+WmU9/lplUawwJQ8mRUhmb7CnNbkDIqJlKnBqDRFNEpGPMUxlJORSI3PiJxT8g9KCwj9KZsJ8qlRWdsJjPX1oKsZNq4xj086lpoAWRwcmpAxYZNJ3TUoSQDAxQlkZHonHUfWrcIj+Z+Koo5J8uOakNwh5Vjx71ZJpl4vBI6xyLlWBf09qhcGP5lP5CldFicbABzirv7tkAcDOPKhptl1yUQkbje3zU9diDApJY2VuuB7UwDA6/eoaaFiOSFyvWmxSc7mFSqATg01olB4zVSjTbJVYMMilpkfHhHSn1bay6WQpC2PI/apIk7xwlTyW2xcRjLdeealPbwy6rk1lFYAngVJGhPA600jaNy1Lbkk5q4Ri8kOxlwSDU6EMMAc486mMRbClR9qljsxv6EZFRk01wknnBIrGKQHB/IVqwmC8URucH3GKorFcL4REJQfNRUq2E/zoxGaQ3k6NEJY6K1/avDJlpd2PKn2N/LHF3fGQx86s3dq8kZO1nOfI1ni1mQkiGT71R8BNThPdFGlvEvMvWoZwpXwnjpzxSLOoXx+Fz/CeuKZJh0ypP3oNGd0ckMrOxycYqF41Y5NOldgdvFM3n2q8ejmSkskJjY4+tK4JXaBzinSEqcCljkXP7wDbTk0xRVR8HgH7VKlwfl86TEbDAHNIIjnctWA07S4aNQOOTitIRd+o2DcTWGGVwEBPBzxViC7nhl8EhGB0PSkyi8Gyi3HEizdtPEdqqMCr+haosELxyxkvuJTiql1c98ikhcsMnAqCzRnkJXjnHFU2s2wtlXYpwOntWN34yOvrVz4QxorMBhjgY5qrZT20MYzuwTjr51rJJHswOd4wufWsFqaZ6fRqFte5vkpmOJkaFySxGQzcflVW9sy0cMpHiB2/kKvTJCwALqz5zgU5XidDBckhX4Vs+dLSbHWRV1bhIyJIWj2lBkk8Y9K2NLtTLbSPPIYwudv1rMklKTIucgDAYVpwBo7Z5Z2Jjx0rQ1lGKjFUm17FhYw7BW5Q/MV54qtcXFrpUhAkwGOVGOapXV9NEhxII16cDzrJkk+JIkeTvNp4J/pVNrL269R4ivmOqXUrCfAe6TGc9aZ3ME7s0U5jyT4sVzVlZwzTr32EB4yOOa2WsY7bkXpdBwCDQ4/UbTqp3V75pHf9nZLmLTYVZzKjDxMOoFa0tlYzYlM83KgBUby+led6Tq19t+FsLkKrD/jDwK7rTtPWWCNI9ViNzjLKpzXOur2vKPcel66OogoRWcDp/hAYbaK0Ic8iUDOKsSRQRASO4jkTgOfM+9WNlpG6Wy3SvKnBZeK57W7S+ld1M5Zc+VJi8tHRtjGEW0smTrIjjnm2EFTwD61xOoF7SZp5wBGR8rf1rqL9XlhEW47lIIPnxWJqFqXh728HeIPDz7V29PJHzn1mPkbcVgj0u9cOpzg132g3d1PmGa6DKw4PpXk8dy8NwxBGF4GRXTdnNdkW5CSOPXgU+dOYZRi9F9Slp7VCR6BJo8ovFmZ8ouc5NSwxR28AwGLIOcDPnUem3DalO6yzEKoJBHHNblvapDBI7+MeorkSxF4Z9G01PkUrF0zkHuh3UsDzpH33LAnB+1U4kVQFgti5XgH1qXUdMlvHe5sbY3BjdkbH8H1qzp+mQQTRNqUTKrjklsYq8p7Fk4qrv1Fii+F9S7YWqajYSWt0e7jHhHefP96y73SJNIlhQFngbjeR5V6NqHZi0fR7fWdOn7xGG7k549axXCXFoVulD7eVz6Vkhq8SO/qPS/2a39rpnFy6HHcSBwWBYHBFRr2agQtBc3KJ3ny7lz+tdBPD8MkYiJMbKSr+dURDHPchpiz7emTxWyrUOb4OHqfTNNnMo5f1MCHTLi1cRA72bgM3Fa11b3qWywQwtkDlh6+la0uo2sGzv7QHuxhfr71iX+vX8cgS3gZ+8OVUDmm789mKenp06wpfyNBJZ2sLe2YOGJ28DODTJtKntW3zgsp8jxUdk2qx3Ki6hKIdkqk1uahqzXkPdJArupxkLVFn2N9cK7qnK6TTXXBl6Jrl1AwtBH3oYHL5rstIurFoJmicRSL8xrzGW6vdNmiZrcgYyQoxXY9lNZ0zVndDbd2U5ct50q2lNZNfo/qK8qom8mzqBKyLcwTGXCkOMedcTqU8i3TF0bxnjAru/iYdPtJiLOSVpiNjAbsH6VjTaRcX6G7ihAWEbpAyYIpNU1FYZv8AVKp3cwK+k2dmI0ubhW35G1cc9ayfxHhH7cLxJhWjV+vp1rpbWwnJa4EZcdWA8h61k9r4WvZUZRy0bmn1WrynP9Qoc9D42sPg4OBy8qg+ua2p3jEasLZQNvkc1g3QNlIoCliPerlrrCPhHXAHka6c028o8bpdR4HKmRLaWTy3RaJSFJyFzgV11pcXGnxBkACY8WTz+VV9DbTH4MmDg+E9auasUMcSoylc/wAPFYrpJ8HqPTtOqa3dHs6LT9TDwMxbEgHFY2r3M9vEZy++VjnOP0pmnJM0h25JDYwD5U6/jW4uVgmbulKMST6issIrPJ2NTdOWmX1OeTRY9RY3Cn5OCRStZ6Zp22aa0JJOMMMDipYJ3ilkW0VlTOd3lVmezXtADBJdLE8QBUHo9a5WuC5PPfD1KOYJb/c5O6dXYlIgg6YHNVVs7eRWj7kmVv7N8fKa2I9PeMtFPGwZSACTww9RUGqabdKIvh3KPnOQeaYrItZOPdopNeRr+RGOxesx2nfSw7jkYAbJrS0LQtZtiTPdSRIPFsI4wfesOFO0hlG3Wb4ljkBjhat2+u6rYTyC8vXn/hMbHNTJblwV0stNTap7ZL+LO7t/g9PtzesojC+En1z5VftZV1O1+ISHZH/45rG0e9i1m2lF5EixLzkjj/zrptAvtNu9HuYbNMNbkqv6Vz7E4pNHuNJqI3yUcra10jgtXse4vZY8YVfk9xXNawsnwzSgcqcY9q7PtDLJdJ3/AHW3ZjkCua1FUczQIOAo610tNZu5PG+t6eKcsfU5Due8kAb5T1rW06bUrSVYbaYorcYA8qpWsbvqMEIx3UjhT611FjCkP8IJb15rpWyWMHkdBpt024vH8DU03WtWt4MyXJPOMYrR+Om1RM3U5I+XaRWQmZF4Az6DpTjKlt4pJQvtXOlSpPJ7CGosqgk5tr+J1Gk9rdLtW+DnDRpaIse0IGHv1ro7nW9C1uKKHTYmWWQhF8AGT+VeH3t4ba7muRKymfng1fstauluLOS2uXMgIIGeQR5ik3enRkmzTo/xXZFqmyKaPWtSDyW4sdRdpJEXKuR5V5xqVp8JcO8AyevNdlBqT6taxSyOe+VSGHtWE0cVwtyWB/dE4wa5mkj4ZSiz0PrEYa+qEo9+xmaVetIjW8xCb0IwTzXP64Rat3Xc5DMQprUmje3vklZd4HB9cVm605uGbcpA6jPXFdenl5PE6+cpU+OXaObnnfBK854q3pt/AhVrq27/AAMFCOKrdw747tNw6YqdbeW3OZIwuecGtJ5ynfCxP6HQ2d/pcimZNPZDH/Dv3A1LqFwLiESRRBAwB2+lZEd5CloqRxqCqneQOc1ZS/ia1QSZ6eXpSFV" />


@* <!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Property Listing</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-success active" data-bs-toggle="pill" href="#tab-1">Featured</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-success" data-bs-toggle="pill" href="#tab-2">For Sell</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-success" data-bs-toggle="pill" href="#tab-3">For Rent</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-1.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-2.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Villa</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-3.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Office</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-4.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Building</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-5.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Home</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-6.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Shop</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-success py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-1.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-2.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Villa</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-3.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Office</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-4.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Building</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-5.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Home</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-6.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Shop</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-success py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-1.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-2.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Villa</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-3.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Office</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-4.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Building</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-5.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Home</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-6.jpg" alt=""></a>
                                <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Shop</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-success mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-success me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-success me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-success py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End --> *@

<input type="file" id="imageInput">

<a asp-controller="Admin" asp-action="Add" ><button class="btn btn-primary">Thêm Bất Động Sản</button></a>

@* modal *@

<script>
   
    var strBase64 = "";
    var fileInput = document.getElementById("imageInput")

    fileInput.addEventListener("change", e => {
        console.log(`imageeeeeeeeeee ${e}`)

        
        console.log(e.target.files.length)

        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", () => {
            console.log(reader.result)
            //Cắt sau dấu phẩy base64
            let strResult = reader.result.substring(reader.result.indexOf(",") + 1);
            console.log(strResult)
            // cộng dồn string ở đây
            strBase64 += `;${strResult}`


            console.log(`dataaaaaaaaaaaaaaaaaaaaaaaaaa ${strBase64}`)

        })

        reader.readAsDataURL(file)

    })

</script>