@{
    ViewBag.Title = "Upload";
}

<h2>Upload File</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

@if (ViewBag.FilePath != null)
{
    <p>File path: @ViewBag.FilePath</p>
}
